/* line 6, ../scss/style.scss */
body {
  background-color: #f0ece5;
}

/* line 10, ../scss/style.scss */
#njLogo_img {
  background-color: #2568B4;
  width: 600px;
}

/* line 15, ../scss/style.scss */
#njInnerContent {
  background-color: #FEFEFF;
}

/* line 21, ../scss/style.scss */
#njTimeRangeInput {
  width: 300px;
}

/* line 26, ../scss/style.scss */
#startQuizBtn {
  margin-left: 175px;
  border: 2px solid #a1a1a1;
  padding: 10px 40px;
  background: #dddddd;
  width: 300px;
  border-radius: 25px;
}

/* line 35, ../scss/style.scss */
#startQuizBtn:hover {
  font-weight: bold;
  border-color: #000000;
}

/* line 40, ../scss/style.scss */
#njMainContainer {
  margin-left: 20%;
  width: 700px;
  padding: 10px 40px;
  background-color: #fefeff;
}

/* line 47, ../scss/style.scss */
#njForm {
  width: 600px;
  height: 50px;
  padding: 10px 40px;
}

/* line 53, ../scss/style.scss */
#njFragenId {
  border: 1px solid #c6c6c6;
  padding: 10px 4px;
  background: #4e65d0;
  border-radius: 5px;
}

/* line 60, ../scss/style.scss */
.njAntwortCss {
  border: 1px solid #c6c6c6;
  padding: 10px 20px;
  background: #bbc1d0;
  border-radius: 5px;
  width: 360px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
}

/* line 71, ../scss/style.scss */
.njAntwortCss:hover {
  font-size: 16px;
  font-weight: bold;
  background-color: #9e9aad;
  border: 10px #f4fff5;
}

/* line 78, ../scss/style.scss */
.njAllgemeinCounter {
  border: 1px solid #c6c6c6;
  padding: 10px 20px;
  background: #2729d0;
  border-radius: 5px;
  width: 250px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
}

/* line 89, ../scss/style.scss */
#njRichtigeAntwortenCounter {
  margin-top: -38px;
  margin-left: 445px;
}

/* line 94, ../scss/style.scss */
#nsGameOverTextField {
  width: 700px;
  border: 5px solid #a1a1a1;
  padding: 10px 40px;
  background: #3f23d5;
  border-radius: 25px;
}

/* line 102, ../scss/style.scss */
#njPlayAgainBtn {
  margin-left: 250px;
  border: 2px solid #a1a1a1;
  padding: 10px 40px;
  background: #dddddd;
  width: 300px;
  border-radius: 25px;
  font-size: 18;
}

/* line 113, ../scss/style.scss */
#njPlayAgainBtn:hover {
  font-weight: bold;
  border-color: #000000;
}
