/* line 6, ../scss/style.scss */
body {
  background-color: #f0ece5;
}

/* line 10, ../scss/style.scss */
#njLogo_img {
  background-color: #2568B4;
  width: 600px;
}

/* line 15, ../scss/style.scss */
#njInnerContent {
  background-color: #FEFEFF;
}

/* line 19, ../scss/style.scss */
#progressBar {
  width: 600px;
  height: 22px;
  border: 1px solid #111;
  background-color: #CECECE;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* line 27, ../scss/style.scss */
#progressBar div {
  height: 100%;
  color: #fff;
  text-align: right;
  line-height: 22px;
  /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #0099ff;
  box-sizing: border-box;
}

/* line 38, ../scss/style.scss */
#countdown {
  margin-top: 15px;
  width: 175px;
  margin-left: 150px;
  background-color: #CECECE;
  border: 1px;
  border-radius: 25px;
  font-size: 15px;
}

/* line 50, ../scss/style.scss */
#njTimeRangeInput {
  width: 300px;
}

/* line 55, ../scss/style.scss */
#startQuizBtn {
  margin-left: 175px;
  border: 2px solid #a1a1a1;
  padding: 10px 40px;
  background: #dddddd;
  width: 300px;
  border-radius: 25px;
}

/* line 64, ../scss/style.scss */
#startQuizBtn:hover {
  font-weight: bold;
  border-color: #000000;
}

/* line 69, ../scss/style.scss */
#njMainContainer {
  margin-left: 20%;
  width: 700px;
  padding: 10px 40px;
  background-color: #fefeff;
}

/* line 76, ../scss/style.scss */
#njForm {
  width: 600px;
  height: 50px;
  padding: 10px 40px;
}

/* line 82, ../scss/style.scss */
#njFragenId {
  font-weight: bold;
  width: 600px;
  border: 1px solid #c6c6c6;
  padding: 10px 4px;
  background: #1B95D1;
  border-radius: 5px;
}

/* line 91, ../scss/style.scss */
.njAntwortCss {
  border: 1px solid #c6c6c6;
  padding: 10px 20px;
  background: #bbc1d0;
  border-radius: 5px;
  width: 250px;
  height: 150px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
}

/* line 103, ../scss/style.scss */
.njAntwortCss:hover {
  font-size: 16px;
  font-weight: bold;
  background-color: #9e9aad;
  border: 10px #f4fff5;
}

/* line 110, ../scss/style.scss */
.njAllgemeinCounter {
  border: 1px solid #c6c6c6;
  padding: 10px 20px;
  background: #1B95D1;
  border-radius: 5px;
  width: 250px;
  font-size: 16px;
  margin-top: 10px;
}

/* line 120, ../scss/style.scss */
#njRichtigeAntwortenCounter {
  margin-top: -38px;
  margin-left: 350px;
}

/* line 125, ../scss/style.scss */
#nsGameOverTextField {
  width: 700px;
  border: 5px solid #a1a1a1;
  padding: 10px 40px;
  background: #3f23d5;
  border-radius: 25px;
}

/* line 133, ../scss/style.scss */
#njPlayAgainBtn {
  margin-left: 250px;
  border: 2px solid #a1a1a1;
  padding: 10px 40px;
  background: #dddddd;
  width: 300px;
  border-radius: 25px;
  font-size: 18;
}

/* line 144, ../scss/style.scss */
#njPlayAgainBtn:hover {
  font-weight: bold;
  border-color: #000000;
}
