$backgroundMain : f0ece5;
$textBackground: #FEFEFF;

//rework

#audioPlayer{
  margin-top: 10px;
  margin-left: 20px;
}

#mediaURL {
  width:75%;
  margin-bottom: 10px;
}

#njQuestiontype{
  display: inline-block;
}


body{
  background-color: #f0ece5;
}

#njLogo_img{
  background-color: #2568B4;
  width: 600px;
}

#njInnerContent{
  background-color: #FEFEFF;
}

#progressBar {
  width: 600px;
  height: 22px;
  border: 1px solid #111;
  background-color: #CECECE;
  border-radius: 5px;
  margin-bottom: 10px;
}
#progressBar div {
  height: 100%;
  color: #fff;
  text-align: right;
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #0099ff;
  box-sizing: border-box;
}


#countdown{
  margin-top: 15px;
  width: 175px;
  margin-left: 150px;
  background-color: #CECECE;
  border: 1px;
  border-radius: 25px;
  font-size: 15px;
}

#textQuestion{
  width: 550px;
  height: 250px;
}

#submitQuestion{
  margin-top: 25px;
    margin-left: 150px  ;
}

.njAdminQuestionarea{
  width:220px;
  height: 100px;
  font-size: 18px;
}

//rework

#njTimeRangeInput {
  width: 300px;
}


#startQuizBtn {
  margin-left: 175px;
  border: 2px solid #a1a1a1;
  padding: 10px 40px;
  background: #dddddd;
  width: 300px;
  border-radius: 25px;
}

#startQuizBtn:hover {
  font-weight: bold;
  border-color: #000000;
}

#njMainContainer {
  margin-left: 20%;
  width: 700px;
  padding: 10px 40px;
  background-color: $textBackground;
}

#njForm {
  width: 600px;
  height: 50px;
  padding: 10px 40px;
}

#njFragenId {
  font-weight: bold;
  width: 600px;
  border: 1px solid #c6c6c6;
  padding: 10px 4px;
  background: #1B95D1;
  border-radius: 5px;
}

.njAntwortCss {
  border: 1px solid #c6c6c6;
  padding: 10px 20px;
  background: #bbc1d0;
  border-radius: 5px;
  width: 250px;
  height: 150px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
}

.njAntwortCss:hover {
  font-size: 16px;
  font-weight: bold;
  background-color: #9e9aad;
  border: 10px #f4fff5;
}

.njAllgemeinCounter {
  border: 1px solid #c6c6c6;
  padding: 10px 20px;
  background: #1B95D1;
  border-radius: 5px;
  width: 250px;
  font-size: 16px;
  margin-top: 10px;
}

#njRichtigeAntwortenCounter {
  margin-top: -38px;
  margin-left: 350px;
}

#nsGameOverTextField {
  width: 700px;
  border: 5px solid #a1a1a1;
  padding: 10px 40px;
  background: #3f23d5;
  border-radius: 25px;
}

#njPlayAgainBtn {
  margin-left: 250px;
  border: 2px solid #a1a1a1;
  padding: 10px 40px;
  background: #dddddd;
  width: 300px;
  border-radius: 25px;
  font-size: 18;
}


#njPlayAgainBtn:hover {
  font-weight: bold;
  border-color: #000000;
}