


/* 2014-12-04 */


/************ MODULE-DESIGN: DEFAULT  ************/

.mod
{
	width: 100%;
	float: left;
	font-size: 90%;
    overflow: hidden;
    position: relative;
    line-height: 140%;
}

.mod .teaser
{
    float: left;
    width: 100%;
}

.mod .teaserHeadline
{
    margin: 0 0 8px 0;
    width: auto;
    float: none;
}

.mod .ressort
{
    margin: 0;
    padding: 0 0 4px;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 100%;
	float: left;
}

.mod .mediaCon
{
    margin: 0 1% 8px 0;
    width: 100%;
    width: 100%;
    float: left;
}

/* Ausnahme fuer nebeneinander stehende B-Container in Z */
.sectionZ .modB .mediaCon
{
    /* margin: 0 0 6px 0; */
    width: 39%;
    float: left;
}

#header .currentDate {
	display: none;
}


.mod  .portrait .mediaCon
{
    width: 50%;
    float: none;
    overflow: auto;
    margin-left:  auto;
    margin-right: auto;
}

.mod .media
{
    width: 100%;
    float: left;
    position: relative;
}

.mod .mediaB
{
    width: 48%;
    margin-left: 0.9%;
    margin-right: 0.9%;
}

.mod .mediaC
{
    width: 31.333%;
    margin-left: 0.9%;
    margin-right: 0.9%;
}

.mod .mediaD
{
    width: 23%;
    margin-left: 0.9%;
    margin-right: 0.9%;
}

.mod .mediaLink{
	width: 100%;
	float: left;
}

.mod  .mediaCon .img
{
	float: left;
}

.mod .icon
{
    left: 0;
    bottom: 0;
    width: 36px;
    position: absolute;
}


.mod div.multimediaButtons .icon{
/*	min-width: 0;*/
	width: 36px;
}

.mod div.multimediaButtons .icon.galerie{
	display: none;
}


.mod .icon img
{
    width: 100%;
}

.mod .marke
{ 
	float: right;
    margin-right: 2px;
    margin-top: -34px;
}



.mod  .dachzeile
{ 
	margin: 0 0 4px 0;
	width: 100%;
	float: left;
	font-size: 1em;
	float: none;
	width: auto;
	
}

.mod  .headline
{	
	margin: 0 0 8px 0;	
	width: 100%;
	float: left;
	font-size: 1.15em;

	float: none;
	width: auto;
}

.mod .subtitle
{
    width: 100%;
    float: left;
}

.mod  .teasertext
{ 
	margin: 0 0 8px 0;
	width: 100%;
	float: left;
}

.mod .teasertext.colCnt2
{
	column-count: 2;
    column-gap: 15px;
	column-rule-color: #A3B5C1;
    column-rule-style: solid;
    column-rule-width: 1px;
	
	-moz-column-count: 2;
    -moz-column-gap: 15px;
    -moz-column-rule-color: #A3B5C1;
    -moz-column-rule-style: solid;
    -moz-column-rule-width: 1px;
	
	-webkit-column-count: 2;
	-webkit-column-gap: 15px;
    -webkit-column-rule-color: #A3B5C1;
    -webkit-column-rule-style: solid;
    -webkit-column-rule-width: 1px;
}

.mod .text
{
}

.mod .linklist
{
	float: left;
	margin: 0 0 8px 0;
	width: 100%;	
}

.mod .linklist .more
{
	clear: both;
	margin: 0 0 6px 0;
	width: 100%;	
}

.mod .linklist .more strong
{ 
	font-weight: bold;
}

.mod .linklist .list
{ 
	width: 100%;
	float: left;
	border-top: 1px solid #9dadc7;
}

.mod .linklist .list li a
{ 
	padding: 4px 0 4px 0;
}

.mod .linklist .list strong
{ 
	font-weight: bold;
}

/* List - Livestream */

.livestreams .mod .linklist .list li 
{
	padding: 4px 0;
}


.modClassic .modTeaseronly .mediaCon
{
	width:100%;
}


/* @group controls */

/************ MODULE-CONTROLS: SLIDER/PAGING ************/

/* 
controls.sliding = normale Slider 
controls.paging = mit Seitennavigation
controls.buttonfield = Buttons mit Beschriftung 
*/

/* Regulaere Slider Controls */

/* Holder fuer Buttons (Pfeile und Beschriftung) in den Controls */

/* zurueck-Button in den Slider Controls */

.mod .controls .prev, 
.mod .controls .next
{ 
	outline:none;
}


/* Aktiver zurueck_button */
.mod .controls.sliding .prev.active
{
    background: url('../img/base/icon/arrow_slider.png') no-repeat center -100px;

}

/* hover zurueck_button */
.mod .controls.sliding .prev.active:hover
{
	background: url('../img/base/icon/arrow_slider.png') no-repeat center -300px; 
}

/* Passiver Weiter_button */
.mod .controls.sliding .next
{
	background: url('../img/base/icon/arrow_slider.png') no-repeat center -5000px;
	float: right;
    margin-right: 0;
}

/* Aktiver next_button */
.mod .controls.sliding .next.active
{
    background: url('../img/base/icon/arrow_slider.png') no-repeat center 0px;

 }
 

/* hover next_button */ 
.mod .controls.sliding .next.active:hover
{
    background: url('../img/base/icon/arrow_slider.png') no-repeat center -200px;
 }


/* Controls fuer Buttons */

/* hover spezialfall fuer beschriftetete Buttons */ 

.mod .controls.buttonfield
{    
	width: 100%;
    background: none;
}

.mod .controls.buttonfield a.prev,
.mod .controls.buttonfield a.next
{
	font-size: 0.9em;
}

.mod .controls .labels .entry
{
    margin: 0 2px 0 0;
    float: left;
    cursor: pointer;
}

.mod .controls.sliding .labels .entry
{
    width: 12px;
    height: 9px;
 }

.mod .controls.paging .labels .entry
{
    padding: 0;
}

.mod .controls.paging .labels .entry a
{
    padding: 6px 8px 6px 8px;
    display: block;
    
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mod .controls .labels .entry:hover
{
    background-color: #fff;
}

.mod .controls .labels .entry.active
{
    background-color: #fff;
}

/* Verwendung unklar */
.mod .controls .info
{
    float: left;
    margin: 8px 0 0 25px;
}

/* @end */
/*** ENDE ./feature/mod.jsp ***/

/*** ./grid.css ***/

/* PAGE LAYOUT */

body
{
    overflow-x: hidden;
}

.wrapper
{
    width: 480px;
    margin: 0 auto 0 auto;
}

/*** CONTENT ***/

#content
{
    width: 100%;
    float: left;
}

.con
{
    float: left;
    width: 100%;
    margin: 12px 0 0 0;
    background-color: #fff;
}

.sectionArticle .con
{
  margin: 4px 0 0 0;
}

.con:first-child
{
    margin-top: 0;
}

.modCon
{
    width:100%;
    float: left;
    background-color: #fff;
}

.boxCon
{
    width: 100%;
    float: left;
}

.mediaCon img 
{
	width: 100%;
}

/* TEASER LAYOUT */

.teaser
{
    width: auto;
    float: none;
    overflow: auto;
}

/* Meldungsteaser flach*/

.mod.tsTeaser .mediaCon {
	width: 39%;
	margin-right: 1%;
}

.mod.tsTeaser .teaser {
	margin-top: 6px;
}

.mod.tsTeaser:first-child .teaser {
	margin-top: 0;
}

/* SECTION LAYOUT */

.section
{
    float: left;
    width: 100%;
    margin: 4px;
    padding: 0px;
}

.sectionArticle
{
  background-color: #eee;
  background-color: #fff;

}


/* BOX LAYOUT */

.box
{
    margin: 0px;
    padding: 4px;
    width: 100%;
    float: left;
    overflow: auto;
}


/* MODULE LAYOUTS - SECTION A */

.sectionA
{
    width: 472px;
}

.sectionA .modA .box
{
    width: 464px;
}

.sectionA .modB .box
{
    width: 464px;
}

.sectionA .modC .box
{
    width: 464px;
}

.sectionA .modD .box
{
    width: 464px;
}

.sectionA .modE .box
{
    width: 464px;
}

.sectionA .modZ .box
{
    width: 464px;
}

/* MODULE LAYOUTS - SECTION B */

.sectionB
{
    width: 472px;
}

.sectionB .modA .box
{
    width: 464px;
}

.sectionB .modB .box
{
    width: 464px;
    
}

.sectionB .modC .box
{
    width: 228px;
}

.sectionB .modD .box
{
    width: 228px;
}

.sectionB .modE .box
{
    width: 228px;
}

.sectionB .modZ .box
{
}



/* MODULE LAYOUTS - SECTION C */

.sectionC
{
    width: 472px;  
}

.sectionC .mod .box {
    width: 464px;
}

.sectionC .modA .box {
    width: 464px;
}

.sectionC .modB .box
{
 /*   width: 228px; */
}

.sectionC .modC .box
{
    /* width: 464px; */
}

.sectionC .modD .box
{
 /*   width: 228px; */
}

.sectionC .modE .box
{
    width: 464px;
}

.sectionC .modZ .box
{
    width: 464px;
}



/* MODULE LAYOUTS - SECTION D */


.sectionD
{
    width: 472px;
}

.sectionD .modA .box
{
    width: 464px;
}

.sectionD .modB .box
{
    width: 228px;
}

.sectionD .modC .box
{
    width: 464px;
}

.sectionD .modD .box
{
    width: 228px;
}

.sectionD .modE .box
{
    width: 464px;
}

.sectionD .modZ .box
{
    width: 464px;
}

/* MODULE LAYOUTS - SECTION E */


.sectionE
{
    width: 472px;
}

.sectionE .modA .box
{
    width: 464px;
}

.sectionE .modB .box
{
    width: 228px;
}

.sectionE .modC .box
{
    width: 464px;
}

.sectionE .modD .box
{
    width: 228px;
}

.sectionE .modE .box
{
    width: 464px;
}

.sectionE .modZ .box
{
    width: 464px;
}

/* MODULE LAYOUTS - SECTION Z */


.sectionZ
{
    width: 472px;
}

.sectionZ .modA .box
{
    width: 464px;
}

.sectionZ .modA .teaser
{
	margin-top: 6px;
} 

.sectionZ .con h2 + div.modCon .modA .teaser
{
	margin-top: 0; 
}

.sectionZ .modA .box.modHeadline {
	padding-top: 10px;
}

.sectionZ .modB .box
{
    width: 464px;
}

.sectionZ .modParagraph .modB .box
{
    width: 456px;
}



.sectionZ .modB .box .teaser
{
	margin-top: 6px;
}

.sectionZ .modB .box:first-child .teaser
{
	margin-top: 0;
}

.sectionZ .modC .box
{
    width: 464px;
}

.sectionZ .modParagraph .modC .box
{
    width: 456px;
}

.sectionZ .modD .box
{
    width: 228px;
}

.sectionZ .modParagraph .modD .box
{
    width: 224px;
}

.sectionZ .modE .box
{
    width: 464px;
}

.sectionZ .modParagraph .modE .box
{
    width: 456px;
}

.sectionZ .modZ .box
{
    width: 464px;
}

/* units (immer -0.03% wegen IE7) */

.unitA
{
    width: 100%;
    float: left;
}

.unitB
{
    width: 100%;
    float: left;
}

.unitC
{
    width: 100%;
    float: left;
}

.unitD
{
    width: 100%;
    float: left;
}

.unitE
{
    width: 100%;
    float: left;
}


.unitX
{
    width:  100%;
    float: left;
}


.unitY
{
    width:  100%;
    float: left;
}

.unitZ
{
    width:  100%;
    float: left;
}

/*.childA * *,
.childB * *,
.childC * *,
.childD * *,
.childE * *,
.childZ * *
{
    width: auto;
    float: none;
} */


/* INITIAL SLIDER COLCON-WIDTH */

.mod .slider
{
    width: 200000px;
}

/* GENERAL */

img
{
    display: block;
}
/*** ENDE ./grid.css ***/


/*** ./feature/modBreakingNews.css ***/

.sectionA .modA.mod.modBreakingNews .box
{
	padding: 4px 4px 4px 3px;
	margin: 0 0 0 0;
}

.mod.modBreakingNews .ressort
{
	padding: 0 4px 0 4px;
	margin: -6px 0 0 -4px;
}

/* should be in L-View only */
.mod.modBreakingNews  .mediaCon
{ 
	width: 39%;
	float: left;
	margin: 6px 6px 2px 0;
}

.mod.modBreakingNews .teaser
{ 	
    float: left;
    margin: 0;
    width: 99.5%;
}

.mod.modBreakingNews .dachzeile
{ 	
	margin: 4px 0 0 0;
	float: none;
}

.mod.modBreakingNews .headline
{	
	float: none;
	margin: 4px 0 0 0;
}

.mod.modBreakingNews .teasertext
{ 
	float: none;
	margin: 0 0 0 0 ;
}

.mod.modBreakingNews .linklist
{ 
	display: none;
}

.modBreakingNews h4.headline {
    font-size: 1.35em;
}

/*** ENDE ./feature/modBreakingNews.css ***/

/*** Mod IFrame ***/

.mod.modIFrame h2.headline, .animation .modHead h2.headline 
{
	font-size: 1.5em;
}

/*** ./feature/modClassic.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modClassic  .mediaCon
{
	width: 39%;
	float: left;
	margin: 0 1% 6px 0;
}

.modClassic .dachzeile
{
    width: auto;
    float: none;

}

.modClassic .headline
{
    width: auto;
    float: none;
}

/*** ENDE ./feature/modClassic.css ***/

/*** ./feature/modGallery.jsp ***/

/************  MODULE-DESIGN: PREMIUM  ************/

.modGallery .ressort
{
	display : none;
}

.mod.modGallery  .mediaCon
{ 
	width: 100%;
	margin: 0 0 8px 0;
}

.modGallery .dachzeile
{ 	
	display : none;
}

.modGallery .linklist
{ 
	display : none;
}

.mod.modGallery .media{
	height: 263px;
}

/************ MODULE-DESIGN: SLIDER  ************/

.mod.modGallery .controls.sliding 
{
    height: 140px;
    left: 0;
    margin: 0;
    position: absolute;
    top: 65px;
    visibility: hidden;
    z-index: 50;
}

/* positionsaenderung fuer Galerien im Beitrag */
.sectionZ .mod.modGallery .controls.sliding
{
    top: 50px;
}


.modConGallery .modHead h2.headline
{
	font-size: 1.5em;
}

/************  MODULE-DESIGN: AUDIO  ************/

img.marke
{
	width: 60px;
	height: 34px;
}

/************  MODULE-DESIGN: STAGE  ************/

.modA.modGlossar .box
{
    padding: 0 4px;
    width: 464px;
}

.sectionZ.sectionArticle .modA.modGlossar .box 
{
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 0 0 0;
    width: 425px;
}

.modGlossar .teaser
{
    margin-right: 2.9%;
    margin-left: 2.9%;
    width: 94%;
    float: left;
}

.modGlossar .teaserHeadline
{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 1em;
}

.modGlossar .collapsed
{
    font-size: 0.9em;
}

.modGlossar .link
{
    width: 75%;
    float: left;
}

.modGlossar  .mediaCon .img
{
    width: auto;
    height: 8em;
}

.modGlossar .dachzeile
{ 
	display:none;
}

.modGlossar .headline
{
    margin: 0 0 0 1%;
    width: 99%;
}

.wetter .modGlossar .headline.small
{
	width: 90%;
	margin: 8px 5% 0 5%;
	padding-left: 0;	
}

.wetter .modGlossar .controls .labels .entries
{
	padding: 0;
}

.wetter .modConGlossar .box
{
	padding-bottom: 10px;
}

.modConGlossar ul.wetterlexikonlist.small
{
	margin-top: 10px;
}

/************ MODULE-DESIGN: SLIDER  ************/

.modGlossar .controls .labels 
{
	margin: -36px 0 0 0;	
}

.modGlossar .controls .labels .entries {
    padding: 0 18px 0 18px;
}

.modGlossar .controls .labels .entries .entry
{
    margin: 0 3px 3px 0;
    width: 36px;
}

.modGlossar .controls .labels .entries .entry a
{

    padding: 7px 0 5px;
    text-align: center;
}


/*** ENDE ./feature/modGlossar.css ***/
/*** ./feature/modHead.css ***/
/************ MODULE-DESIGN: HEAD  ************/

.modHead .info
{
	width: auto;
	float: right;
	clear: right;	
}

.modHead .headline
{
	width: auto;
	float: left;
	clear: left;
}

.modHead .subline
{
	width: auto;
	float: left;
	clear: left;
}

.modHead .link
{
	width: auto;
	float: right;
	clear: right;	
}
/*** ENDE ./feature/modHead.css ***/
/*** ./feature/modHeadline.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modHeadline h3.headline
{
 margin-top: 4px;
}

.modHeadline .linklist
{ 
	display: block;
}

/*** ENDE ./feature/modHeadline.css ***/
/*** ./feature/modList.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modList .teaser
{
    padding-top: 8px;

}

.modList  .mediaCon
{
    width: 25%;
    margin-top: 8px;
}

.modList  .mediaCon .img
{
    width: 100%;
}

.modList .dachzeile
{ 
	width: 74%;
    float: right;
    font-size: 0.9em;
    margin-bottom: 4px;
}

.modList .headline
{
    width: 74%;
    float: right;
    margin-bottom: 4px;
}

.modList  .teasertext
{
    width: 74%;
    float: right;
    margin-bottom: 4px;
}

.modList .linklist
{
    width: 74%;
    float: right;
    margin-bottom: 0px;
}

.modList .linklist .list
{
    border-top: none;
}

.modList .linklist .list li
{
    border-bottom: none;
    padding: 4px 0 0;
}

.modList .linklist .list li a
{
    color: #516384;
}


/*** ENDE ./feature/modList.css ***/
/*** ./feature/modMini.css ***/
/************ MODULE-DESIGN: MINI  ************/

.modMini .teaser
{
	background-image: url('') !important;
}

.modMini .mediaCon
{
	width: 46%;
	float: left;
	margin: 0 1%  4px 0;

}


.modConStage .modMini .mediaCon
{
	width: 49%;
	float: left;
	margin: 0 1%  4px 0;

}

.modMini .marke
{ 
    display: none;
}

.modMini  .dachzeile
{ 
	width: auto;
	float: none;
}

.modMini   .headline
{
	width: auto;
	float: none;
}

.modMini  .teasertext
{
    display: none;
}

.modMini .linklist
{
    display: none;
}

/*** ENDE ./feature/modMini.css ***/
/*** ./feature/modPaging.jsp ***/

/************  MODULE-DESIGN: STAGE  ************/

.modPaging .paging
{
    width: 100%;
    float: left;
}

.modPaging  .text
{ 
    width: 100%;
    float: left;
    margin-bottom: 8px;
}

.modPaging .linklist .list
{ 
    border-top: none;

}

.modPaging .linklist .list li
{
    width: auto;
    float: left;
    border-bottom: none;
    padding: 1%;
    background-color: #eee;
    margin-left: 1px;
}

.modPaging .next
{
    background: url('../img/base/icon/arrow_sprite.png') no-repeat 0 0;
    width: 30px;
    height: 30px;
    float: right;
}

.modPaging .prev
{
    background: url('../img/base/icon/arrow_sprite.png') no-repeat 0 -100px;
    float: left;
    width: 30px;
    height: 30px;
}

.modConSearch .modPaging .linklist .list li
{
    font-size: 1.2em;
    padding: 8px 14px;
};

.modConSearch .modPaging  .linklist
{
    float: none;
    margin: 0 auto;
    width: 75%;
}

.modConSearch .modPaging .linklist
{
    float: none;
    margin: 0 auto;
    width: 50%;
}


.modConGlossar .modPaging .list li.active
{
    background-color: #fff;
}


.modConGlossar .modPaging .loadNameInfo
{
    float: left;
    font-size: 1.2em;
    margin: 0 0 4px 0;
    padding-left: 1%;
    width: 98%;
}
/*** ENDE ./feature/modPaging.jsp ***/

/*** Suche ***/

.modConSearch h2.headline
{
	font-size: 1.4em;
	width: 100%;
}


/*** modThumbnail ***/
.modThumbnail .dachzeile
{
    width: auto;
    float: none;
}

.modThumbnail .headline
{
    width: auto;
    float: none;
}

.modThumbnail  .teasertext
{
    width: auto;
    float: none;
}

.modThumbnail .linklist
{
    width: 100%;
    float: left;
    clear: right;
}


.mod.modThumbnail .mediaCon {
    margin-right: 1%;
    width: 25%;
}

.modThumbnail .dachzeile {
    float: none;
    width: auto;
}


.modThumbnail .headline {
    float: none;
    width: auto;
}
.modThumbnail .teasertext {
    float: none;
    width: auto;
}
.modThumbnail .linklist {
    clear: right;
    float: left;
    width: 100%;
}

/*** ENDE modThumbnail ***/


/*** ./feature/modParagraph.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modParagraph .infokasten.left {
    clear: left;
    float: left;
    width: 86%;
}

.modParagraph .infokasten.right {
    clear: left;
    float: left;
    width: 86%;
}

.infokasten .teasertext 
{
	margin: 0;
}

.infokasten.right .teasertext, 
.infokasten.left .teasertext
{
	margin-bottom: 8px;
}

.modParagraph .mediaCon
{
    float: left;
    margin: 0 0 4px 0;
    overflow: auto; 
    width: 100%;
}

.modParagraph .mediaCon.small
{
    margin-left: 5%;
    width: 420px;
}

.modParagraph .media
{
    width: 98%;
    margin-bottom: 4px;
    margin-left: 0.9%;
    margin-right: 0.9%;
}

.modParagraph .mediaA
{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.modParagraph .small .mediaA
{
    width: 100%;
   margin-left: 0;
    margin-right: 0;
}

.modParagraph .mediaB
{
    width: 48%;
}

.modParagraph .mediaC
{
    width: 31.33%;
    width: 48%;
}

.modParagraph .mediaD
{
    width: 23%;
}

.modParagraph .mediaInfo
{
    width: 100%;
}

.modParagraph .mediaRight
{	
   float: right;
   clear: right;
   width: auto;
}

.modParagraph .mediaLeft
{
    float: left;
    clear: left;
	width: auto;
}


.modParagraph .small.mediaRight
{	
   float: right;
   clear: right;
   margin-left: 8px;
   margin-right: 5%;
   overflow:hidden;
	width: auto;
}

.modParagraph .small.mediaLeft
{
	 clear: left;
    float: left;
    margin-left: 4%;
    margin-right: 8px;
	width: auto;
}

.modParagraph .mediaCon.mediaLeft.small .mediaA, 
.modParagraph .mediaCon.mediaLeft.small .mediaA, 
.modParagraph .mediaCon.mediaRight.small .mediaA, 
.modParagraph .mediaCon.mediaRight.small .mediaA

{
	width: 256px;
	margin: 0;
}

.modParagraph .mediaCon.mediaLeft.small .mediaA.portrait, 
.modParagraph .mediaCon.mediaLeft.small .mediaA.portrait, 
.modParagraph .mediaCon.mediaRight.small .mediaA.portrait, 
.modParagraph .mediaCon.mediaRight.small .mediaA.portrait
{
	width: 200px;
}


.sectionB .modParagraph .mediaCon, 
.sectionC .modParagraph .mediaCon, 
.sectionD .modParagraph .mediaCon, 
.sectionE .modParagraph .mediaCon
{
	clear: both;
	float: none;
}

.modParagraph .dachzeile
{
    width: auto;
    float: none;
}

.modParagraph .headline
{
    width: auto;
    float: none;
}

/* Einzug fuer Headlines im Beitrag */
.modParagraph h2.headline
{
    width: auto;
    float: none;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5em;
}

.modParagraph .subtitle
{
    width: auto;
    float: none;
}

.modParagraph  .einleitung
{
    margin: 0 0 8px 0;
    width: auto;
    float: none;
    font-weight: bold;
}

.modParagraph  .text
{
    margin: 0 0 8px 0;
    width: auto;
    float: none;
}

.modParagraph  .autor
{
    font-style: italic;
    margin: 0 0 8px 0;
    width: auto;
    float: none;
}

.modParagraph .autorenzeile
{
	margin-top: 12px;
	margin-bottom: 14px; 
}


.modParagraph .small
{
    margin-left: 5%;
    margin-right: 5%;
}

.sectionZ .modParagraph .articlePageList
{
    margin: 6px 5% 10px 5%;
    width: 90%;

}


.sectionZ .modParagraph .controls.buttonfield
{
    margin: 6px 5% 10px 5%;
    width: 90%;
}

/*** ENDE ./feature/modParagraph.css ***/

/************* Infokasten Sendungsbezug & Rss-Feed  ************/

.modParagraph .infokasten.sendungsbezug,
.modParagraph .infokasten.rssfeed 
{
	padding: 10px 2% 14px 12%;
	width: 76%;
}


/*** ./feature/modPicture.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modC.modPicture .box,
.modD.modPicture .box,
.modE.modPicture .box
{
	width: 228px;
	float: left;
}

.modPicture .ressort
{		
	display:none;
}

.modPicture  .mediaCon
{	
	width: 100%;
}

.modPicture .dachzeile
{ 
	display:none;
}

.modPicture .headline
{ 
	display:none;
}

.modPicture  .teasertext
{ 
	display:none;
}

.modPicture .linklist
{ 
	display:none;
}

/*** ENDE ./feature/modPicture.css ***/
/*** ./feature/modPremium.css ***/
/************  MODULE-DESIGN: PREMIUM  ************/

.modPremium  .mediaCon
{ 
	width: 100%;
	float: left;
	margin: 0 1% 8px 0;
}

.modPremium .dachzeile
{ 	
	width: auto;
	float: none;
}

.modPremium .headline
{
	width: auto;
	float: none;
	
}

.modPremium h4.headline
{
	font-size: 1.35em;	
}

/*** ENDE ./feature/modPremium.css ***/
/*** ./feature/modQuiz.css ***/
/************  MODULE-DESIGN: STAGE  ************/


.modQuiz
{
    font-size: 0.9em;
    color: #24324C;
}

.modQuiz .resultTable
{
    float: left;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 8px;
    table-layout: auto;
}

.modQuiz .resultTable th.answerHeader
{
	width: 17%;
}

.modQuiz .resultTable .entry
{
    vertical-align: top;
    padding-top: 8px;
    border-bottom: 1px solid #DDDDDD;
}

.modQuiz .resultTable .even
{
    background-color: #eee;
}

.modQuiz .resultTable .answer
{
    border: none;
    text-align: left;
    padding: 0 0 8px 0;
}

.modQuiz .resultTable .entry .mediaCon
{
	border: none;
	margin: 0;
}

.modQuiz .resultTable .headlines .entry
{
    border-bottom: 1px solid #24324C;
    vertical-align: bottom;
    padding-left: 1%;
}

.modQuiz .resultTable .data .entry
{
	padding: 8px 8px 0px 16px;
}

.modQuiz .resultTable .question
{
    border: none;
    text-align: left;
    padding: 0;
}

.modQuiz .resultTable .right
{
    color: #080;
}

.modQuiz .resultTable .wrong
{
    color: #800;
    opacity: 1;
    filter: alpha(opacity=100);
}


.modQuiz .resultTable .corrected
{
    font-style: italic;
    font-weight: normal;
}

.modQuiz .text
{
    line-height: 125%;
    width: 100%;
    float: left;
}

.modQuiz .link
{
    width: auto;
    float: right;
    margin-bottom: 36px;
    margin-top: 16px;
    margin-left: 30px;
    padding: 0.5% 1%;
    background-color:  #eee;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
}

.modQuiz .link.quizPre.quizStart
{
	float: left;
}

.modQuiz .dachzeile
{ 
	margin: 0 30px 4px 30px;
	width: auto;
	clear: left;
}

.modQuiz h3.headline
{ 
	margin: 0 30px 6px 30px;
	width: auto;
	clear: left;
	font-size: 1.8em;
}

.modQuiz  .teasertext
{ 
	margin: 0 30px 8px 30px;
	width: auto;
	clear: left;
}

.modQuiz  .answer
{
    border-bottom: 1px solid #DDDDDD;
    float: left;
    width: 99%;
    padding: 1.5% 0 1.5% 1%;
}

.modQuiz  .wrong
{
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modQuiz .textResults
{
    float: left;
    width: 49%;
    border-right: 1px solid #eee;
    clear: left;
}

.modQuiz .visualResults
{
    float: right;
    width: 49%;
    clear: right;
    padding-top: 8px;
    padding-bottom: 8px;
}

.modQuiz .unit
{
    float: left;
    width: 100%;
    margin-bottom: 8px;
}

.modQuiz .unit.quizEntry,
.modQuiz .unit.quizAfter
{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.modQuiz .unit .mediaCon
{
    margin-top: 8px;
    margin-bottom: 0;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 36px;
    width: 100%;
}

.modQuiz .unit .mediaCon .imgLink img
{
	padding: 1%;
	border: 1px solid #DDDDDD;
}

.modQuiz .resultBar
{
    height: 15px;
    width: 100%;
    float: left;
    background-color: #800;
    margin-top: 8px;
}

.modQuiz .resultLevel
{
    height: 100%;
    float: left;
    background-color: #080;
}

.modQuiz .question, .modQuiz .result
{
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    float: left;
    line-height: 150%;
    width: 95%;
	font-weight: bold;
	padding: 36px 0 36px 5%;
}

.modQuiz .progress
{
    float: left;
    margin-top: 30px;
    width: 90%;
    margin: 0 5%;
    overflow: hidden;
}

.modQuiz .progressText
{
    width: 100%;
    float: left;
    color: #AAAAAA;
}

.modQuiz .answer .link
{
    background-color: transparent;
    float: right;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 92%;
    padding: 0;
    border: none;
}

.modQuiz .label
{
    background-color: #EEEEEE;
    float: left;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    width: 6%;
    padding: 0;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    font-weight: bold;
}

.modQuiz .media .label
{
    position: relative;
    top: 27px;
    left: 2px;
    width: 1.25em;    
}

.modQuiz .result .wrong
{
    color: #800;
    opacity: 1;
    filter: alpha(opacity=100);
}

.modQuiz .result .rigth
{
    color: #080;
}

.modQuiz .progressVisual
{
    float: left;
    height: 8px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.modQuiz .progressVisual .active
{
    height: 100%;
    float: left;
}

.modQuiz .progressVisual .right
{
    height: 100%;
    float: left;
}

.modQuiz .progressVisual .wrong
{    
    height: 100%;
    float: left;
    opacity: 1;
    filter: alpha(opacity=100);
}

.modQuiz .progressEntry
{
    height: 100%;
    float: left;
}

.modQuiz .progressEntry .progressIdx
{
	text-align: center;
	margin-bottom: -0.2em;
	color: #AAAAAA;
}

.modQuiz .progressEntry .progressBorder,
.modQuiz .progressEntry .progressColor
{
	height: 6px;
	border-top: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
}

.modQuiz .progressEntry:first-child .progressBorder,
.modQuiz .progressEntry:first-child .progressColor{
	border-left: 1px solid #AAAAAA;
}

.modQuiz .progressEntry .progressBorder
{
	border-top: none;
	border-bottom: none;	
}

.modQuiz .progressEntry.right .progressColor
{
	background-color: #008800;
}

.modQuiz .progressEntry.wrong .progressColor
{
	background-color: #880000;
}

.modQuiz .linklist
{
    margin-top: 8px;
}

.modQuiz .linklist .more
{  
	font-family: ThesisAntiqua, Times, serif;
	text-transform: uppercase;
}

.modQuiz .linklist .more strong
{ 
	font-weight: bold;
}

/*** modQuiz poll ***/

.modQuiz .poll .mediaA
{
	margin: 2% 0 0 5%;
	width: 90%;
}

.modQuiz .poll h3.headline
{
	margin-left: 5%;
	margin-top: 0;
	width: 90%;
}

/*** modQuiz poll ***/

.modQuiz.voting .quizable .vote-detail .vote-bar-container
{
	width: 26%;
}

.modQuiz.voting .quizable .vote-detail .vote-percent
{ 
	width: 10%;
}

/*** ENDE ./feature/modQuiz.css ***/
/*** ./feature/modSocialBar.css ***/
/************ MODULE-DESIGN: DEFAULT  ************/

.mod.modSocialbar {  }
.modSocialbar .box {  }
.modSocialbar .button {  }
.modSocialbar .button  { }

/* setwidth */
.modSocialbar .print
{  	
	display: none;
}

/* setwidth */
.modSocialbar .send a
{ 
	width: 227px;
}

/* setwidth */
.modSocialbar .likeCon
{
	width: 464px;
	margin-bottom: 0;
	height: 34px;
}

.modSocialbar .likeCon iframe { }
.modSocialbar .likeCon iframe.iframefb { }
.modSocialbar .likeCon iframe.iframetw { }
.modSocialbar .likeCon iframe.iframegp { }
.modSocialbar .agreeCon { }
.modSocialbar .like
{
	width: 464px;
}

.modSocialbar .like a, .modSocialbar .share a { }

/* setwidth */
.modSocialbar .agreement
 {
    top: 34px;
    width: 454px;
 }

.modSocialbar .agreement .text { }
.modSocialbar .agree { }
.modSocialbar .agreement strong { }
.modSocialbar .likes { }
.modSocialbar .likes > * { }
.modSocialbar .shareCon { }

/* setwidth */
.modSocialbar .share
{
    width: 227px;
    margin-right: 0;
}

/* das ist die ul der shares, 10px schmaler!  */
.modSocialbar ul.shares, 
.sectionZ .modSocialbar ul.shares, 
.sectionB .modSocialbar ul.shares
{
    width: 217px;
    top: 34px;
}

.modSocialbar .shares li:last-child { }

.modSocialbar ul.shares li,
.sectionZ .modSocialbar ul.shares li, 
.sectionB .modSocialbar ul.shares li
{ 
    clear: none;
    float: left;
    margin-right: 8px;
    width: 104px;
}

.modSocialbar .like .fb, 
.modSocialbar .like .twitter,
.modSocialbar .like .google
{
	margin: 8px 12px 0 0;
}

.modSocialbar .like .fb { }
.modSocialbar .like .twitter { }
.modSocialbar .like .google { }

.modSocialbar .shares li a
{
    width: 74px;
}

.modSocialbar .shares li:hover {}
.modSocialbar .shares .fb { }
.modSocialbar .shares .twitter { }

.modSocialbar ul.shares li.google, 
.sectionZ .modSocialbar ul.shares li.google
.sectionB .modSocialbar ul.shares li.google
{ 
margin-right: 0;
}

.modSocialbar ul.shares li.del, 
.sectionZ .modSocialbar ul.shares li.del, 
.sectionB .modSocialbar ul.shares li.del
 { 
margin-right: 0;
}
.modSocialbar .shares .wong { }

/* heller Pfeil, wenn auf dunkelblau */

.modSocialbar .collapseArrow  { }

.modSocialbar .hasArrow.collapsed .collapseArrow
{ }


/* Zusatzanweisungen fuer bestimmte Layouts */




/* Der Drucken-Button */


/* Der Drucken-Button */
.sectionB .modSocialbar .print a
{

}

/* Der Senden-Button */
.sectionB .modSocialbar .send a
{
	width: 227px;
}

/* Der Teilen-Button */
.sectionB .modSocialbar .share
{
    margin-right: 0;
    width: 227px;
}
/* hier 5px padding beachten */
.sectionB .modSocialbar ul.shares
{

	top: 34px;
}

.sectionB .modSocialbar ul.shares li
{

}

.sectionB .modSocialbar ul.shares li a
{

}

/* Das container fuer die sm-dienste */
.sectionB .modSocialbar .likeCon
{
	width: 464px;

}

.sectionB .modSocialbar .like
{
	width: 464px;
}

/* Das agreement fuer die Dienste */
.sectionB .modSocialbar .agreement
{
    width: 454px;
    padding: 8px 5px 8px 5px;
}













/* Der Drucken-Button */
.sectionZ .modSocialbar .print a	
{

}

/* Der Senden-Button */
.sectionZ .modSocialbar .send a
{
	width: 227px;	
}

/* Der Teilen-Button */
.sectionZ .modSocialbar .share
{
    width: 227px;
    margin-right: 0;
}
/* hier 5px padding beachten */
.sectionZ .modSocialbar ul.shares
{

}

.sectionZ .modSocialbar ul.shares li
{

}

.sectionZ .modSocialbar ul.shares li a
{

}

/* Das container fuer die sm-dienste */
.sectionZ .modSocialbar .shareCon
{

}

.sectionZ .modSocialbar .likeCon
{
	width: 464px;
}

.sectionZ .modSocialbar .like
{
	width: 464px;
}

/* Das agreement fuer die Dienste */
.sectionZ .modSocialbar .agreeCon
{
	width: 464px;	
}


.sectionZ .modSocialbar .agreement
{
	width: 454px;
    padding: 8px 5px 8px 5px;
}

/*** ENDE ./feature/modSocialBar.css ***/
/*** ./feature/modStage.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modConStage .modStage
{
	display: none;
}

/*** ENDE ./feature/modStage.css ***/
/*** ./feature/modStopper.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modStopper .ressort
{		
	display:none;
}

.modStopper  .mediaCon
{	
	margin: 0;
	width: 100%;

}

.modStopper .viewB .mediaCon
{
    width: 100%;
}

.modStopper .viewC .mediaCon
{
    width: 100%;
}

.modStopper .dachzeile
{ 
	display:none;
}

.modStopper .headline
{ 
	display:none;
	margin-top: 4px;
    margin-bottom: 0px;
}

.modStopper .viewB .headline
{
    display:block;
    width: 100%;
    float: right;
}

.modStopper .viewC .headline
{
    display:block;
    width: 100%;
    float: right;
}

.modStopper  .teasertext
{ 
	display:none;
    font-family: Thesis;
    font-size: 0.8em;
    margin-top: 4px;
}

.modStopper .viewB .teasertext
{
    display:block;
    width: 100%;
    float: right;
}

.modStopper .viewC .teasertext
{
    display:block;
    width: 100%;
    float: right;
}

.modStopper .linklist
{ 
	display:none;
}

/*** ENDE ./feature/modStopper.css ***/

/*** modTable ***/

.modParagraph .modTable 
{
	margin-top: 28px;
}

.modTable .table
{
	margin-bottom: 28px;
}

/*** ENDE - modTable ***/

/************* modIFrame ************/

.legende .button a
{
	padding: 14px 12px;
}

.legende .modForm  .collapseArrow
{
	margin-top: 0;
}

/*** ./feature/modTagcloud.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modTagcloud .linklist
{
     display: block;
}

.modTagcloud .linklist .list
{
    border: none;
}

.modTagcloud .linklist .list li
{
    border: none;
    width: auto;
    padding-right: 12px;
    display: table;
    float: left;
}

.modTagcloud .linklist .list li a
{
    display: table-cell;
    vertical-align: bottom;
    height: 30px;
}

/************ MODULE-DESIGN: SLIDER  ************/

.modTagcloud .controls .labels .entries
{
    padding: 0 8px 0 8px;
}
/*** ENDE ./feature/modTagcloud.css ***/
/*** ./feature/modTeaseronly.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modTeaseronly  .mediaCon
{	
	width: 39%;
	float: left;
	margin: 0 1%  4px 0;
}

.modTeaseronly .dachzeile
{ 
	float: none;
	width: auto;
}

.modTeaseronly .headline
{ 
	float: none;
	width: auto;
}

.modTeaseronly .linklist
{ 
	display:none;
}

.sectionA .modC.modTeaseronly .box:first-child
{
	margin-top: 0;
}

.sectionA .modC.modTeaseronly .box
{
	margin-top: 4px;
}

/*** ENDE ./feature/modTeaseronly.css ***/

/*** ./feature/page.css ***/
/************ PAGE-DESIGN  ************/

.conHeadline
{
	font-size: 1.5em;		
    margin: 5px 0 2px 0;
    width: 97.5%;
    padding: 0 1.25% 0 1.25%;
	float: left;
    color: #001a4b;
    font-weight: normal;
    text-indent: 0;
}

.sectionZ h2.conHeadline 
{
    margin: 0px;
}

.collapseArrow
{
    margin: 6px 4px 0 0;
}

.collapsed .collapseArrow
{
    margin: 6px 4px 0 0;
}

.wetterstationen .collapsed .collapseArrow
{
	margin-top: 0;
}


.modParagraph h4.subtitle.hasArrow{
	float: left;
	width: 84%;
}


.button a
{
    float: left;
}
 
 
/*a:focus, input:focus, select:focus{
    outline: #ff6400 solid 2px;
    outline-offset: -2px;
}*/

/*** ENDE ./feature/page.css ***/

/*** ./footer.jsp ***/

/**** GRID ****/
#footer
{
    width: 100%;
    float: left;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #001A4B;
    font-size: 1em;
}

#footer .wrapper
{
    width: 100%;
}

#footer .section
{
    margin: 0;
    width: 100%;
    padding-bottom: 4px;
}

#footer .unitD
{
    width: 100%;
}

#footer .unitD ul
{
   float: left;
   padding: 0 2% 15px;
   width: 96%;
}

#footer a
{
    color: #FFFFFF;
    padding: 3px 6px 3px 6px;

}


#footer a:hover, 
#footer a:active,
#footer a:focus

{
background: #234179;
}

#footer li
{
    float: left;
    margin: 0 8px 8px 0;
    font-size: 0.9em;
}


#footer .unitD h3
{
    color: #FFFFFF;
    border-top: #4E75A0 1px solid;
    padding: 12px 2% 10px 2%;
    width: 95.97%;
    font-size: 1em;
}


#footer .unitD:first-child h3
{
	border-top: none;
}

#footer h3:hover
{
	color: #e9ebef;
}

#footer .foot {
    border-top: 1px solid #4E75A0;
    float: left;
    margin: 0;
    padding: 20px 2% 0 2%;
    width: 96%;
}


#footer .help
{
    float: left;
    clear: left;
    width: 100%;
}


#footer .logo
{
    float: left;
    clear: left;
    width: 100%;
    padding: 0;
}

#footer .logo img
{
    margin-bottom: 6px;
    float: right;
}

#footer .copy
{
    color: #FFFFFF;
    font-size: 0.9em;
    text-align: right;
    width: 100%;
}


#footer .collapseArrow
{
    margin-top: 14px;
    margin-right: 2%;
	background: url("../img/base/icon/arrow_collapsible.png") no-repeat 0 -60px;
}

#footer .collapsed .collapseArrow
{
	background: url("../img/base/icon/arrow_collapsible.png") no-repeat 0 -40px;
}


/*** ENDE ./footer.jsp ***/

/*** ./header.jsp ***/
/* MASTERNAVI */

.masternavi .wrapper, .masternavi .section, #header .wrapper , #header .section
{
    overflow: visible;
}


.masternavi .section
{
    background-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
}

#header .wrapper .section
{
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}


.masternavi .navi
{
    position: relative;
    width: 100%;
    float: left;
}

.masternavi .menueToggle
{
    float: left;
    height: 32px;
    margin: 0;
    padding: 6px 20px 0 0;
    background-color: #fff;
	width: 140px;
	display: block;
}

.masternavi .menueToggle a
{
    float: left;
    padding: 4px 0 4px 8px;
    color: #001a4b;
}

.masternavi .menueToggle.collapsed
{
    background-color: transparent;
}

.masternavi .menueToggle.collapsed a
{
    color: #fff;
}


#header .collapseArrow
{
    margin-top: 6px;
    margin-right: 4px;
    background: url("../img/base/icon/arrow_collapsible.png") no-repeat scroll 0px -20px transparent;
    }

#header .collapsed .collapseArrow
{
    background: url("../img/base/icon/arrow_collapsible.png") no-repeat scroll 0px -40px transparent;
}

.masternavi .wrapper
{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.masternavi
{
    width: 100%;
    float: left;
    height: 35px;
}


#header
{
background: url(../img/base/masternavi/mn_ard.png) repeat-x 0 0;
}

.ard  #header
{
background: url(../img/base/masternavi/mn_ard.png) repeat-x 0 -65px;
}

.tagesschau #header
{	
background: url(../img/base/masternavi/mn_tagesschau.png) repeat-x 0 -65px;
}

.sportschau #header
{
background: url(../img/base/masternavi/mn_sportschau.png) repeat-x 0 -65px;
}

.boerse #header
{
background: url(../img/base/masternavi/mn_boerse.png) repeat-x 0 -65px;
}

.ratgeber #header
{
background: url(../img/base/masternavi/mn_ratgeber.png) repeat-x 0 -65px;
}

.wissen #header 
{
background: url(../img/base/masternavi/mn_wissen.png) repeat-x 0 -65px;
}

.kultur #header
{
background: url(../img/base/masternavi/mn_kultur.png) repeat-x 0 -65px;
}

.kinder #header
{
background: url(../img/base/masternavi/mn_kinder.png) repeat-x 0 -65px;
}

.intern  #header
{
background: url(../img/base/masternavi/mn_intern.png) repeat-x 0 -65px;
}

.tv  #header
{
background: url(../img/base/masternavi/mn_tv.png) repeat-x 0 -65px;
}

.radio  #header
{
background: url(../img/base/masternavi/mn_radio.png) repeat-x 0 -65px;
}

.ardmt  #header
{
background: url(../img/base/masternavi/mn_ardmediathek.png) repeat-x 0 -65px;
}




.masternavi ul
{
    position: absolute;
    background-color: #fff;
    top: 34px;
    left: 0px;
    width: 161px;
    padding-top: 8px;
    z-index: 5000;
    -moz-box-shadow:    0px 20px 25px -5px #000;
    -webkit-box-shadow: 0px 20px 25px -5px #000;
    box-shadow:         0px 20px 25px -5px #000;
}

.masternavi li
{
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    background: none;
    border-bottom: 1px solid #ddd;
}

.masternavi li.active
{
    background-color: #ddd;
}

.masternavi ul li a
{
    float: left;
    width: 96%;
    color: #001a4b;
    padding: 4px 0 4px 4%;
    border-bottom: 0;
	height: auto;
}

.masternavi ul li a:hover,
.masternavi ul li a:focus,
.masternavi ul li a:active
{
    color: #001a4b;
    background: #e9ebef;
	height: auto;
    border-bottom: 4px solid #e9ebef;

    padding: 4px 0 0 4%;
}


.masternavi .tv,
.masternavi .radio,
.masternavi .ardmt
{
    font-weight: bold;
}

.masternavi .tv
{
    margin-top: 28px;
    border-top: 1px solid #ddd;
}

.masternavi .ardlogo a{
}

.masternavi .ardlogo a:hover{
}

/* HEADER */


#header
{
    float: left;
    width: 100%;
}

#header .section
{
    background-color: transparent;
}

.collapseArrowSmall
{
    float:right;
    width: 20px;
    height: 15px;
    margin-top: 4px;
    background: url("../img/base/icon/arrow_collapsible.png") no-repeat scroll 0px -15px transparent;
}

.collapsed .collapseArrowSmall
{
    background: url("../img/base/icon/arrow_collapsible.png") no-repeat scroll 0px 0px transparent;
}

#header .logo 
{
	background: none repeat scroll 0 0 transparent;
    float: left;
    height: auto;
	margin: 2px 0 0 0;
    
    }

#header .logo img
{
   width: auto;
   height: 48px;
  }



#header .searchBox
{
    left: 160px;
    margin: 0 0 0;
    position: absolute;
    top: 0;
    
}

#header .searchToggle
{
    float: right;
    padding: 0 4px 0 0;
    width: 55px;
    height: 34px;
    border-right: 1px solid #b2c2de;
    border-left: 1px solid #b2c2de;
    border-bottom: solid 1px #fff;
	

background: #fff url('../img/base/icon/lupe_searchtoggle.png') no-repeat 0px 0px;

}



#header .searchToggle.collapsed
{
    border-bottom: none;

background: url('../img/base/icon/lupe_searchtoggle.png') no-repeat 0px -34px;

}

#header .searchToggle img
{
    height: 25px;
    display: none;
    padding: 4px 4px 3px 8px;
}



#header .searchForm
{
    background-color: #FFFFFF;
    height: 28px;
    left: -161px;
    padding: 6px 0;
    position: absolute;
    top: 34px;
    width: 222px;
    z-index: 100;
    -moz-box-shadow:    0px 20px 25px -5px #000;
    -webkit-box-shadow: 0px 20px 25px -5px #000;
    box-shadow:         0px 20px 25px -5px #000;
}

#header .searchInput
{
    border: 1px solid #DDDDDD;
    float: left;
    height: 25px;
    margin: 0 0 0 5px;
    padding: 0 0 0 5px;
    width: 175px;
    font-size: 0.85em;
    color: #516384;
}

#header .searchInput.active
{
    color: #000;
}

#header .searchSubmit
{
    float: left;
    width: 30px;
    padding: 0;
    margin: 0 0 0 2px;
}

#header .searchSubmit img
{
    float: right;
    width: 100%;
}

#header .subnavi .menueToggle
{
    background-color: #fff;
    height: 32px;
    padding: 0 0 0 0;
    float: left;
    width: 85px;
    background-color: #fff;
    border-bottom: 1px solid #fff;
	color: #001a4b;
	font-weight: bold;
	display: block;
}

#header .subnavi .menueToggle.collapsed
{
    border-bottom: none;
	background-color: #2b1324;
}



.tagesschau #header .subnavi .menueToggle.collapsed, 
.tagesschau #header .subnavi .menueToggle.collapsed a
{
/*background: rgba(28, 60, 136, 0.9);*/
color: #fff;
}

body.sportschau #header .subnavi .menueToggle.collapsed,
body.sportschau #header .subnavi .menueToggle.collapsed a
{
background: #ff8400;
color: #fff;

}


#header .subnavi .menueToggle a
{
    padding: 8px 0 0 6px;
    float: left;
    width: 50px;
    color: #001a4b;
}

.subnavi .ressorts .collapsed a
{
	color: #001a4b;
}


#header .subnavi .menueToggle.collapsed a
{
    color: #fff;
}

#header ul.ressorts .collapseArrow
{
	margin-top: 4px;
}

.subnavi
{
    float: right;
    margin: 10px 0px 0 0;
    position: relative;
    width: auto;
    z-index: 100;
}


.subnavi .ressorts li
{
    float: left;
    position: relative;
    padding: 4px 14px 3px 14px;
}

.subnavi .ressorts
{
    background-color: #FFFFFF;
    left: -143px;
    padding: 4px 4px 0;
    position: absolute;
    top: 31px;
    width: 220px;
    -moz-box-shadow:    0px 20px 25px -5px #000;
    -webkit-box-shadow: 0px 20px 25px -5px #000;
    box-shadow:         0px 20px 25px -5px #000;
	z-index: 9000;
}

.subnavi .ressorts span
{
    float: left;
    padding: 0;
    width: 100%;
    color: #001a4b;

}

.subnavi .ressorts li a
{
	color: #000000;
    float: left;
    margin: 0;
    padding: 4px 2%;
    text-align: left;
    width: auto;}

.subnavi .ressorts li a:focus{
	/* define visual effect for tab-navigation focus */
	/* green color for testing */
	 color: #001a4b; 
	 width: 96%;
}

.subnavi .ressorts li
{
    position: static;
    width: 100%;
    float: left;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-bottom: 1px solid #d9e2eb;
    z-index: 10000;
}




.ressorts .subressort.hasArrow
{
	background-color: #eee;
	border-bottom: 1px solid #ddd;
}

.ressorts .collapsed.subressort.hasArrow
{
	background-color: transparent;
	border-bottom: none;
}


.subnavi .subressorts
{
    width: 100%;
    float: left;
    background-color: #eee;
}

.subnavi .subressorts li
{
    border-bottom: 1px solid #ddd;
}

.subnavi .subressorts .hasArrow
{
	border-bottom: 1px solid #e9ebef;
}

.subnavi ul.ressorts li:hover, 
.subnavi ul.ressorts li:active, 
.subnavi ul.ressorts li:focus {
    background: #e9ebef;
}

.subnavi .active,
.subnavi .active.collapsed 
{
    background: #e9ebef;
}

.subnavi .subsubressorts
{
    display: none;
    width: 100%;
    float: left;
    background-color: #ddd;
}


.subnavi .subsubressorts li
{
    border-bottom: 2px solid #eee;
}
/*** ENDE ./header.jsp ***/




/*** ./skin/tagesschau.jsp ***/

/*** SKIN: TS ***/

body.tagesschau
{ 
	background: #00599a url(../img/tagesschau/background/base.jpg) repeat-x top;
}



.tagesschau .box.active a
	{
	color: #fff;
	}



.tagesschau #content
{
	background: none;
}

.tagesschau .conHeadline
{
	
}

.tagesschau .con
{

}

.tagesschau .mod
{
	background-color: #fff;
}

.tagesschau .modStage .modMini .box.active
{
	background-color: #c8e4f5;
}

.tagesschau #content .sectionC, .tagesschau #content .sectionZ
{
    background-color: #fff;
}



/*** HINTERGRUND BOX ***/
.tagesschau .box
{
	background: #fff url('../img/tagesschau/background/box_base.jpg') repeat-x bottom;
}

.tagesschau .box.active
{
    background: #001a4b url('') repeat-x bottom;
    color: #fff;
}

/*** ENDE ./skin/tagesschau.jsp ***/


.sectionC img{
	max-height:500px;
}

.mediaRight .mediaA a.mediaLink img 
{
	width: 100%;
}

/*** VISIBLE UND HIDDEN KLASSEN ***/

.hiddenInViewS
{
	display: none;
}


.visibleInViewS
{
	display: block;
}


/*** Inline-Klasse ***/

.inline .modGallery .box, .inline .modHead .box
{
	width: 420px;
	padding: 0;
}

.inline .modGallery .media{
	width: 100%;
	height: 236px;
}

.inline {
	margin: 20px 5%;
	width: 420px;
	display: block;
	float: left;
	position: relative;
}

.inline .media{
	margin: 0px;
}

.inline .modHead .info, .inline .modHead .subline, .inline .modGallery .teasertext{
	padding: 4px;
	width: auto;
}

.inline .mod.modGallery .controls.sliding .prev, .inline .mod.modGallery .controls.sliding .next{
	margin: 0px;
}

.sectionZ .inline .modD.modPicture .box,
.sectionA .inline .modD.modPicture .box {
    width: 132px;
    padding: 4px;
}

.modParagraph .inline h2.headline {
    float: none;
    font-size: 1.2em;
	margin: 0px;
    width: auto;
    padding: 4px;
}


.sectionZ .inline .modB .box, .sectionZ .inline .modC .box, .sectionZ .inline .modD .box, .sectionZ .inline .modE .box {
    width: 412px;
    padding: 4px;
}




/* BILDWISCHER */
div.bildwischer.vertical .anfasser{
	background: url('../img/base/icon/arrow_bildwischer_xs_vertical.png') top right no-repeat transparent;
	position: absolute;
	bottom: -22px;
	height: 44px;
}

.inline .mod.modBildwischer .box {
	width: 420px;
	padding: 0px;
}

.inline .mod.modBildwischer .media{
	width: 100%;
}


/* Wetter */

.wetter .modTable h3.headline,
.wetter .box h3.headline
{
	margin-top: 8px;
}

.wetter .modTable .collapseArrow, 
.wetter .box .collapseArrow 
{
	margin-top: 2px;
}

/* Text-Link im Logo-Bereich f. spezielle Events */

#header .logo .eventLogo img {
	height: 34px;
	width: 256px;
}

.eventLogo {
	margin-bottom: -2px;
	position: relative;
	left: 0;
	top: -6px;
}

.eventLogoLink {
	color: #FFFFFF; 
}

/*** ################ Barrierefrei ###################  ***/
.skiplinks a:focus
{
	width: 472px;
	left: 7px;
}


/*** ###################  sectionA rundown ######################### ***/
 
.mod .snowflake h3.headline, 
.modParagraph.modRundown .dachzeile, 
.modParagraph.modRundown .mediaCon.mediaTop.small, 
.modParagraph.modRundown .text,
.modParagraph.modRundown .autorenzeile,
.modParagraph.modRundown .rundownInhaltsverzeichnis,
.modParagraph.modRundown blockquote.zitat,
.modParagraph.modRundown h4.subtitle,
.modParagraph.modRundown .modQuiz .unit.quizEntry 
{
    margin-left: 5%;
    width: 90%;
}

.sectionA .modRundown .inline .mod.modGallery .controls.sliding {
	top: 50px;
}

.modParagraph.modRundown .modSharing .shareCon{
	padding-left: 5%;
}

.modParagraph.modRundown blockquote.zitat{
	width: 78%;
}


.modParagraph.modRundown .infokasten {
    margin-left: 5%;
    width: 86%;
}

/** MAP **/
.modParagraph.modRundown .small.map .mediaA iframe{
	width: 415px !important;
	overflow: hidden;
}

/*** Bildergallerie etc. ***/
.sectionA .modRundown .inline .modGallery .box, 
.sectionA .modRundown .inline .modHead .box, 
.sectionA .modRundown .inline .modBildwischer .box {
	width: 417px;
}

.modParagraph.modRundown .mediaCon.mediaRight.small {
    margin-right: 5%;
}

.sectionA .modParagraph.modRundown .headline{
	margin-left: 5%;
}

.sectionA .modRundown .inline{
	width: 90%;
	margin-left: 5%;
}

.sectionA .modRundown .inline .modGallery .box .mediaCon,
.sectionA .modRundown .inline .modBildwischer .box .mediaCon {
    height: 240px;
}
 
/* NAVI */
div.subnavi.fixie{
	width: 472px;
	margin-bottom: 8px;
	background: none repeat scroll 0 0 rgba(28, 60, 136, 1);
	margin-top: 0px;
	margin-left: -4px;
}
 
   
/* CHAPTER */
/* KAPITELNAVI */

		
.mod .chapter .dossiertitle {
	font-size: 1em;
	padding-top: 50px;	
}
	
.mod .chapter {
	width: 90%;
	margin-left: 5%;
}
 
.sectionA .modParagraph.modRundown .chapter .headline{
	font-size: 1.3em;
	float: left;
	margin: 0;
}

 /* CHAPTER v2 */
 		
		.mod .chapter.v2 .dossiertitle {
			padding: 0;
			height: 93px;	
			font-size: .9em;
		}
		
		.mod .chapter.v2 {
		   	width: 90%;
			margin-left: 5%;
		    padding-top: 95px;
		}

		.sectionA .modParagraph.modRundown .chapter.v2 .headline{
			margin-left: 0;
		}
		
 
		.mod .chapter.v2 h3.headline{
			float: left;
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 1.4em; 
			margin: 0;
		}

		.mod .chapter.v2 h3.headline span{
   			padding: 5% 64px 4% 10px;
		}		
 		
		.chapter.v2 .prevchapter .button,
		.chapter.v2 .nextchapter .button{
			font-size: .8em;
		}

		.chapter.v2 .prevchapter .button{
			bottom: 39px; 
		}

		.chapter.v2 .prevchapter{
			top: 96px;
		}
		
		.chapter.v2 .nextchapter:hover .button, 
		.chapter.v2 .prevchapter:hover .button{
			display: none;
		}

 
 /* IFRAME AUDIO */
 .modParagraph.modRundown .small.audio .mediaA iframe {
    height: 160px !important;
}
 

 
/* SUBNAVI */
 	
.subnavi.fixie .menueToggle.collapsed {
 	background: none repeat scroll 0 0 rgba(28, 60, 136, 0.9);
}
 
.subnavi.fixie .menueToggle {
   background: #fff;
   border-bottom: none;
   border-left: solid 1px white;
   color: #001A4B;
   display: block;
   float: right;
   font-weight: bold;
   height: 34px;
   padding: 10px 0 0 6px;
   width: auto;
   padding-right: 30px;
}

.subnavi.fixie .menueToggle.collapsed a{
  	color: white;
}
 
.subnavi.fixie .ressorts{
   	left: 234px;
   	top: 44px;
}
 
.subnavi.fixie .collapsed .collapseArrow {
 	background: url("../img/base/icon/arrow_collapsible.png") no-repeat scroll 0 -40px rgba(0, 0, 0, 0);
}

.subnavi.fixie .collapseArrow {
   	background: url("../img/base/icon/arrow_collapsible.png") no-repeat scroll 0 -20px rgba(0, 0, 0, 0);
   	height: 20px;
   	margin-right: 7px;
   	margin-top: 14px;
   	width: 20px;
}
	
.subnavi.fixie .subressort .collapseArrow {
	margin-right: 4px;
   	margin-top: 4px;
}


/* ### TS-Map ### */

.kartenlegende .kartenhinweis a{
	padding: 1%;
	float: left;
	margin-left: 8%;
	width: 80%;
	text-align: center;
}

 #layerswitcher{
 	margin-left: 8%;
 }

#overlay{
	position: relative;
	background: white;
	width: 98%;
	opacity: 1;
	padding: 1%;
	left:0;
	top: 0;
}

/* Event-Komponente */
.modClassic .componentheader .mediaCon {
	width: 100%;
}

/* Breadcrumb */
body.tagesschau .mod.modBreadcrumb {
    margin-top: 0px;
}


/* Sharing2014 */
.modSharing .fixedSharingContainer{
    bottom:-3px;
    top:auto;
    margin-left: -4px;
}

.modSharing .whatsapp{
    display:inline-block;
}

.modSharing .print{
     display:none;
}

.modSharing .sharingText {
   display:none;
}

/*** Section andocken ***/
.angedockt {
	margin-top: -4px;
}

.angedockt .box { 
	margin-top: 6px;
}

/*** Teaser IMG Overlay ***/

.teaserImgOverlayText {
	font-size: 36px;
	padding: 8px 10px 16px 10px;
}

/*** shareCon ***/

.socialMedia .sharingBar .shareCon {
	padding-left: 4.5%;
	padding-bottom: 0;
}

.socialMedia .sharingBar .nachoben{
	display: none;
}

/*** Storywrapper ***/

.storywrapper {
	width: 472px;
	margin-left: 4px;
	margin-top: 4px;
	background: none;
}

.storywrapper .sectionA {
	margin: 0;
}

.storywrapper .sectionA + .section {
	margin-top: 0;
}

.storywrapper .sectionC,
.storywrapper .sectionZ {
	margin-left: 0;
	margin-right: 0;
}

.storywrapper .mediaTop {
	margin-top: 0;
}

.storywrapper .sectionA .modA .dachzeile,
.storywrapper .sectionA .modA .headline,
.storywrapper .sectionA .modA .text {
	margin-left: 4.5%;
	width: 95%;
}

.storywrapper .sectionA .modA .headline {
	font-size: 1.5em;
}

.storywrapper .mediaCon.mediaTop.small {
	width: 425px;
	margin-right: 5%;
}

.storywrapper .modSharing.sharingBar {
	height: auto;
}

.storywrapper .section.sectionC cset .con:first-child {
	margin-top: 12px;
}

/* Top 10 bullets ausblenden und anpassen */

.modPicList .linklist .list .number {
	display: none;
}

.sectionA .modB.modPicList .boxCon .box:first-child {
	background: none;
	padding-bottom: 0;
}

.sectionA .modB.modPicList .boxCon .box:last-child {
	padding-top: 0;
}

.sectionA .modB.modPicList .boxCon .box:first-child .linklist {
	margin-bottom: 0;
}

.sectionA .modB.modPicList .boxCon .box:first-child li:last-child {
	border-bottom: none;
}

/*** modTicker Fussballticker ***/

.sectionA .modTicker .box:first-child {
	padding-bottom: 0;
}

.sectionA .modTicker .box:last-child {
	padding-top: 0;
}

.sectionA .modTicker .box:first-child .linklist {
	margin-bottom: 0;
}

.sectionA .modTicker .box:first-child li:last-child {
	border-bottom: none;
}

/* h3 Überschrift Kachel */

.sectionC.kachel h3.ressort {
	font-size: 1.5em;
} 

.sectionC.kachel .lottoBox h3.ressort {
	font-size: 1.7em;
} 