


/* 2014-12-04 */

/*** ./feature/mod.css ***/
/************ MODULE-DESIGN: DEFAULT  ************/

.mod
{
	width: 100%;
	float: left;
	font-size: 90%;
    overflow: hidden;
    position: relative;
}

.mod .teaser
{
    float: left;
    width: 100%;
}

.mod  .teaserHeadline
{
    margin: 0 0 8px 0;
    width: auto;
    float: none;
}

.mod .ressort
{
	float: left;
    letter-spacing: 1px;
    margin: 0;
    padding: 0 0 4px;
    text-transform: uppercase;
    width: 100%;
}

.mod .mediaCon
{
    margin: 0 2% 8px 0;
    width: 60%;
    float: left;
}

#header .currentDate {
	display: none;
}

 

.mod h2.headline,
.mod.modIFrame h2.headline,
.animation .modHead h2.headline
{
	font-size: 1.4em;
}



.mod  .portrait .mediaCon
{
    width: 50%;
    float: none;
    overflow: auto;
    margin-left:  auto;
    margin-right: auto;
}

.mod .media
{
    width: 100%;
    float: left;
    position: relative;
}

.mod .mediaB
{
    width: 48%;
    margin-left: 0.9%;
    margin-right: 0.9%;
}

.mod .mediaC
{
    width: 31.333%;
    margin-left: 0.9%;
    margin-right: 0.9%;
}

.mod .mediaD
{
    width: 23%;
    margin-left: 0.9%;
    margin-right: 0.9%;
}

.mod .mediaLink{
	width: 100%;
	float: left;
}

.mod  .mediaCon .img
{
	float: left;
	width: 100%;
}

.mod .icon
{
    left: 0;
    bottom: 0;
    width: 36px;
    height: 36px;
    position: absolute;
}

.mod .icon img
{
    width: 100%;
}

.mod div.multimediaButtons .icon{
/*	min-width: 0; */
	width: 45%;
}

.mod div.multimediaButtons .icon.galerie{
	display: none;
}

.mod .marke
{ 
	float: right;
    margin-right: 4px;
    margin-top: -25px;
}

img.marke
{
	width: 45px;
	height: 25px;
}


.mod  .dachzeile
{ 
	margin: 0 0 4px 0;
	width: auto;
	float: none;
}

.mod  .headline
{	
	margin: 0 0 8px 0;	
	width: auto;
	float: none;
}

.mod .subtitle
{
    width: 100%;
    float: left;
}

.mod  .teasertext
{ 
	margin: 0 0 8px 0;
	width: 100%;
	float: left;
	line-height: 135%;
}

.mod .teasertext.colCnt2
{
	column-count: 2;
    column-gap: 15px;
	column-rule-color: #A3B5C1;
    column-rule-style: solid;
    column-rule-width: 1px;
	
	-moz-column-count: 2;
    -moz-column-gap: 15px;
    -moz-column-rule-color: #A3B5C1;
    -moz-column-rule-style: solid;
    -moz-column-rule-width: 1px;
	
	-webkit-column-count: 2;
	-webkit-column-gap: 15px;
    -webkit-column-rule-color: #A3B5C1;
    -webkit-column-rule-style: solid;
    -webkit-column-rule-width: 1px;
}

.mod .text
{
    line-height: 145%;
}

.mod .linklist
{
	display: none;
	float: left;
	margin: 0 0 8px 0;
	width: 100%;	
}

.sectionC .mod .linklist
{
	display: block;
}

.sectionC .mod .linklist.teaserImTeaser{
	display: none;
}


.modD .slider .linklist
{
	display: block;
}

.section.regional .mod .linklist
{
	display: block;
}

.section.regional .mod .linklist ul li
{
	display: none;
}

.section.regional .mod .linklist ul li:last-child
{
	display: block;
}

.mod .linklist .more
{
	clear: both;
	margin: 0 0 6px 0;
	width: 100%;	
}

.mod .linklist .more strong
{ 
	font-weight: bold;
}

.mod .linklist .list
{ 
	width: 100%;
	float: left;
	border-top: 1px solid #9dadc7;
}

.mod .linklist .list li
{ 
	width: 100%;
	float: left;
	padding: 3px 0 3px 0;
	border-bottom: 1px solid #9dadc7;
}

.mod .linklist .list strong
{ 
	font-weight: bold;
}

.mod.modC .linklist
{
	display: block;
}

/*** ENDE ./feature/mod.css ***/
/*** ./feature/modBreakingNews.css ***/
.mod.modBreakingNews
{

}

.sectionA .modA.mod.modBreakingNews .box
{
	padding: 4px 4px 4px 3px;
	margin: 0 0 0 0;
}

.mod.modBreakingNews .ressort
{
	padding: 0 4px 0 4px;
	margin: -6px 0 0 -4px;
}
.mod.modBreakingNews  .mediaCon
{ 
	width: 44%;
	float: left;
	margin: 6px 6px 2px 0;
}

.mod.modBreakingNews .teaser
{ 	
    float: left;
    margin: 0;
    width: 99.5%;
}

.mod.modBreakingNews .dachzeile
{ 	
	margin: 4px 0 4px 0;
	float: none;
}

.mod.modBreakingNews .headline
{	
	float: none;
	margin: 0 0 0 0;
	font-size: 1.35em;
}

.mod.modBreakingNews .teasertext
{ 
	float: none;
	margin: 0 0 0 0 ;
}

.mod.modBreakingNews .linklist
{ 
	display: none;
}

/*** ENDE ./feature/modBreakingNews.css ***/
/*** ./feature/modClassic.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modClassic  .mediaCon, .modA  .mediaCon
{
	width: 60%;
}

.modClassic .dachzeile, .modA .dachzeile, .modB .dachzeile
{ 
	clear: both;
	float: left;
	width: 100%;
}

.modClassic .headline, .modA .headline, .modB .headline
{ 
	clear: both;
	float: left;
	width: 100%;
}

/*** ENDE ./feature/modClassic.css ***/
/*** ./feature/modComments.css ***/
/************  MODULE-DESIGN: GLOSSAR  ************/

.modComments .teaserHeadline.collapsed
{
    font-size: 1.0em;
}

.modComments .link
{
    width: 75%;
    float: left;
}

.modComments .ressort
{		
	display:none;
}

.modComments  .mediaCon
{
	width: auto;
}

.modComments  .media
{
    margin: 1%;
    width: auto;
    float: left;
}

.modComments  .mediaCon .xxl
{
    width: auto;
    height: 8em;
}

.modComments  .mediaCon .xl
{
    width: auto;
    height: 8em;
}

.modComments .mediaCon .l
{
    width: auto;
    height: 8em;
}

.modComments  .mediaCon .m
{
    width: auto;
    height: 8em;
}

.modComments  .mediaCon .s
{
    width: auto;
    height: 8em;
}

/************ MODULE-DESIGN: SLIDER  ************/

.modConComments .boxCon h2.headline, 
.modConComments .boxCon p.subline, 
.modConComments .boxCon p.text 
{
	clear: both;
	
}


/*** ENDE ./feature/modComments.css ***/

/*** ./feature/modGallery.css ***/
/************  MODULE-DESIGN: PREMIUM  ************/

.modConGallery .modGallery
{
    display: block;
}

.modGallery .ressort
{
	display: none;
}

.modConGallery .mod .mediaCon
{ 
	width: 100%;
}

.modGallery .dachzeile
{ 	
	display : none;
}

.modGallery .linklist
{ 
	display : none;
}

.mod.modGallery .media{
	height: 172px;
}

/************ MODULE-DESIGN: SLIDER  ************/

.modGallery .controls
{	
    height: 140px;
    margin: 0;
	visibility: visible;
	background: none;
}


.mod.modGallery .controls.sliding, .sectionZ .mod.modGallery .controls.sliding {
    height: 48px;
    left: 0;
	top: 129px;
    margin: 0;
    position: absolute;
    visibility: hidden;
    z-index: 50;
    border-top: none;
}

.inline .mod.modGallery .controls.sliding {
	top: 109px;
	width: 275px;
}

.mod.modGallery .controls .buttons
{
    float: left;
	margin: 0;
    width: 100%;
}

.mod.modGallery .controls.sliding .prev
{ 	
    height: 48px;
    min-height: 48px;
    width: 46px;
	visibility: visible;
	background: url('../img/base/icon/arrow_gallery_small.png') no-repeat scroll -10px 0 transparent;
	margin-left: 0px;
}


.mod.modGallery .controls.sliding .prev:focus,
.mod.modGallery .controls.sliding .prev:hover
{ 	
    height: 48px;
    min-height: 48px;
    width: 46px;
	visibility: visible;
	background: url('../img/base/icon/arrow_gallery_small.png') no-repeat scroll -10px -90px transparent;
	margin-left: 0px;
}


.mod.modGallery .controls.sliding .next
{		
	height: 48px;
    width: 46px;
	float: right;
	visibility: visible;
	background: url('../img/base/icon/arrow_gallery_small.png') no-repeat scroll -72px 0px transparent;
	margin-right: 4px;
}

.mod.modGallery .controls.sliding .next:focus,
.mod.modGallery .controls.sliding .next:hover
{		
	height: 48px;
    width: 46px;
	float: right;
	visibility: visible;
	background: url('../img/base/icon/arrow_gallery_small.png') no-repeat scroll -72px -90px transparent;
	margin-right: 4px;
}


.modConGallery .modHead h2.headline
{
	font-size: 1.5em;
}




/*** ENDE ./feature/modGallery.css ***/
/*** ./feature/modGlossar.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modA.modGlossar .box
{
    padding: 0 4px;
    width: 304px;
}

.sectionZ.sectionArticle .modA.modGlossar .box 
{
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    width: 280px;
}

.mod.modGlossar .teaser
{
    margin: 0 2%;
    width: 96%;
    float: left;
}

.modGlossar .teaserHeadline
{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 1em;
}

.modGlossar .collapsed
{
    font-size: 0.9em;
}

.modGlossar .link
{
    width: 75%;
    float: left;
}

.modGlossar  .mediaCon .img
{
    width: auto;
    height: 8em;
}

.modGlossar .dachzeile
{ 
	display:none;
}

.modGlossar .headline
{
    margin: 0 0 0 1%;
    width: 99%;
}

.wetter .modConGlossar .box
{
	overflow: visible;
}

.wetter .modGlossar .headline.small
{
	width: 90%;
	margin: 8px 5% 0 5%;
	padding-left: 0;	
}

.wetter .modGlossar .controls .labels .entries
{
	padding: 0;
}

.wetter .modConGlossar .box
{
	padding-bottom: 10px;
}

.modConGlossar ul.wetterlexikonlist.small
{
	margin-top: 10px;
}

/************ MODULE-DESIGN: SLIDER  ************/

.modGlossar .controls .labels 
{
	margin: -36px 0 0 0;	
}

.modGlossar .controls .labels .entries {
    padding: 0 18px 0 18px;
}

.modGlossar .controls .labels .entries .entry
{
    margin: 0 3px 3px 0;
    width: 36px;
}

.modGlossar .controls .labels .entries .entry a
{

    padding: 7px 0 5px;
    text-align: center;
}
/*** ENDE ./feature/modGlossar.css ***/
/*** ./feature/modHead.css ***/
/************ MODULE-DESIGN: HEAD  ************/

.modHead .info
{
	width: auto;
	float: right;
	clear: right;	
}

.modHead .headline
{
	width: auto;
	float: left;
	clear: left;
}

.modHead .subline
{
	width: auto;
	float: left;
	clear: left;
}

.modHead .link
{
	width: auto;
	float: right;
	clear: right;	
}
/*** ENDE ./feature/modHead.css ***/
/*** ./feature/modHeadline.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modHeadline h3.headline
{
 margin-top: 3px;
}

.modHeadline .linklist
{ 
	display: block;
}

/*** ENDE ./feature/modHeadline.css ***/
/*** ./feature/modList.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modList .boxCon{
}

.modList .teaser
{
    padding-top: 8px;

}

.modList  .mediaCon
{
    width: 50%;
    margin-top: 8px;
    margin-bottom: 6px;

}

.modList  .mediaCon .img
{
    width: 100%;
}

.modList .dachzeile
{ 
	width: 100%;
    float: right;
    margin-bottom: 4px;
}

.modList h3.headline
{
	width: 100%;
    font-size: 1.25em;

    float: right;
    margin-bottom: 4px;
}

.modList  .teasertext
{
	width: 100%;
    float: right;
    margin-bottom: 4px;
}

.modList .linklist
{
	width: 100%;
    float: right;
    margin-bottom: 0px;
}

.modList .linklist .list
{
    border-top: none;
}

.modList .linklist .list li
{
    border-bottom: none;
    padding: 4px 0 0;
}

.modList .linklist .list li a
{
    color: #516384;
}

/*** ENDE ./feature/modList.css ***/
/*** ./feature/modMini.css ***/
/************ MODULE-DESIGN: MINI  ************/

.modMini .teaser
{
	background-image: url('') !important;
}

/* damit auch in xs die Stage aussieht wie eine Stage */
.modConStage .modMini .mediaCon
{
	width: 100%;
}

.modConStage .modMini .headline
{
	font-size: 1.35em;
}

.modMini .mediaCon
{
	width: 46%;
}

.modMini .marke
{ 
    display: none;
}

.modMini  .teasertext
{
    display: none;
}

.modMini .linklist
{
    display: none;
}

/*** ENDE ./feature/modMini.css ***/
/*** ./feature/modPaging.jsp ***/

/************  MODULE-DESIGN: STAGE  ************/

.modPaging .paging
{
    width: 100%;
    float: left;
}

.modPaging  .text
{ 
    width: 100%;
    float: left;
    margin-bottom: 8px;
}

.modPaging .linklist .list
{ 
    border-top: none;

}

.modPaging .linklist .list li
{
    width: auto;
    float: left;
    border-bottom: none;
    padding: 1%;
    background-color: #eee;
    margin-left: 1px;
}

.modPaging .next
{
    background: url('../img/base/icon/arrow_sprite.png') no-repeat 0 0;
    width: 30px;
    height: 30px;
    float: right;
}

.modPaging .prev
{
    background: url('../img/base/icon/arrow_sprite.png') no-repeat 0 -100px;
    float: left;
    width: 30px;
    height: 30px;
}

.modConSearch .modPaging .linklist .list li
{
    font-size: 1.2em;
    padding: 8px 14px;
};

.modConSearch .modPaging  .linklist
{
    float: none;
    margin: 0 auto;
    width: 75%;
}

.modConSearch .modPaging .linklist
{
    float: none;
    margin: 0 auto;
    width: 50%;
}


.modConGlossar .modPaging .list li.active
{
    background-color: #fff;
}


.modConGlossar .modPaging .loadNameInfo
{
    float: left;
    font-size: 1.2em;
    margin: 0 0 4px 0;
    padding-left: 1%;
    width: 98%;
}
/*** ENDE ./feature/modPaging.jsp ***/

/*** Suche ***/

.modConSearch .controls .labels .entries
{
	padding: 6px 20px;
}

/*** ./feature/modParagraph.css ***/

.modParagraph .infokasten.left {
    clear: left;
    float: left;
    width: 86%;
}

.modParagraph .infokasten.right {
    clear: left;
    float: left;
    width: 86%;
}

.infokasten .teasertext 
{
	margin: 0;
}

.infokasten .media .icon{
	display: none;
}

.infokasten.right .teasertext, 
.infokasten.left .teasertext
{
	margin-bottom: 8px;
}

.modParagraph .infokasten .mediaCon
{
	width: 65%;
}

.modParagraph .mediaCon
{
    float: none;
    margin-bottom: 12px;
    margin: 0 0 0 0;
    overflow: auto;
    width: 100%;
}

.modParagraph .mediaCon.small
{
    float: left;
    clear: both;
	margin-top: 8px;
	margin-bottom: 8px;
    overflow: auto;
    width: 90%;
	padding: 0;
}

 .mediaTop.mediaCon.small
 {
 	width: 90%;
 	margin-left: 5%;
 	margin-right: 5%;
 }

 .mediaTop.mediaCon.small .mediaA
 {
 	width: 100%;
    margin-left: 0px;
    margin-right: 0px;
 }

.modParagraph .media
{
    width: 100%;
    margin-bottom: 16px;
    float: left;
}

.modParagraph .mediaA, 
.modParagraph .mediaB, 
.modParagraph .mediaC
{
	margin-right: 0;
	margin-left: 0;
    
}

.modParagraph .small .mediaA
{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.modParagraph .mediaCon.small
{
	margin-left: 5%;
	margin-right: 5%;
}

.modParagraph .media.portrait
{
    width: 80%;
    margin: 0 10% 10px 10%;
    float: left;
}


.modParagraph .mediaC
{
    /* 
    width: 31.33%;
    width: 100%;
    */
}

.modParagraph .mediaD
{
    /* width: 23%;
    width: 100%; */
    width: 60%;

}

.modParagraph .mediaInfo
{
	width: 100%;
}

.modParagraph .mediaRight
{	
   width: 40%;
   float: right;
   clear: right;
}

.modParagraph .mediaRight,
.modParagraph .mediaLeft
{
    width: 70%;
    margin: 0 030% 0 0;
    float: none;
    clear: both;
}

.modParagraph .headline
{
    width: auto;
    float: none;
}

.modParagraph .dachzeile
{
    width: auto;
    float: none;
}


.modParagraph h2.headline
{
    width: auto;
    float: none;
    margin-left: 5%;
    margin-left: 2%;
    margin-right: 5%;
	margin-right: 2%;

    font-size: 1.5em;
}

.modParagraph .subtitle
{
    width: auto;
    float: none;
}

.modParagraph  .einleitung
{
    margin: 0 0 8px 0;
    width: auto;
    float: none;
}

.modParagraph  .text
{
    margin: 0 0 8px 0;
    width: auto;
    float: none;
}

.modParagraph  .autor
{
    font-style: italic;
    margin: 0 0 8px 0;
    width: auto;
    float: none;
}

.modParagraph .autorenzeile
{
	margin-top: 10px;
	margin-bottom: 10px; 
}


.modParagraph .small
{
    margin-left: 5%;
    margin-right: 5%;
}

.modParagraph .linklist
{ 
	display: block;
}

.sectionZ .modParagraph .articlePageList
{
    margin: 6px 5% 10px 5%;
    width: 90%;

}


.sectionZ .modParagraph .controls.buttonfield
{
    margin: 6px 5% 10px 5%;
    width: 90%;
}

/************* Infokasten Sendungsbezug & Rss-Feed ************/

.modParagraph .infokasten.sendungsbezug,
.modParagraph .infokasten.rssfeed 
{
	padding: 12px 2% 12px 16%;
	width: 72%;
}


/*** ENDE ./feature/modParagraph.css ***/
/*** ./feature/modPicture.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modC.modPicture .box, 
.modD.modPicture .box, 
.modE.modPicture .box
{
	width: 148px;
}

/* In Galerien wird der Slider FullSize */
.modConGallery .modC.modPicture .box,
.modConGallery .modD.modPicture .box,
.modConGallery .modE.modPicture .box
{
	width: 304px;
}



.modC.modPicture .box .teaser, 
.modD.modPicture .box .teaser,  
.modE.modPicture .box .teaser
{
	width: 100%;
}


.modC.modPicture .box .mediaCon, 
.modD.modPicture .box .mediaCon, 
.modE.modPicture .box .mediaCon
{
	width: 100%;
}

.modPicture .ressort
{		
	display:none;
}

.modPicture  .mediaCon
{	
	margin: 0;
}

.modPicture .dachzeile
{ 
	display:none;
}

.modPicture .headline
{ 
	display:none;
}

.modPicture  .teasertext
{ 
	display:block;
}

.modPicture .linklist
{ 
	display:none;
}

/*** ENDE ./feature/modPicture.css ***/
/*** ./feature/modPremium.css ***/
/************  MODULE-DESIGN: PREMIUM  ************/

.modPremium  .mediaCon
{ 
	width: 100%;
		
}

.modPremium h4.headline {
    font-size: 1.35em;
}


/*** ENDE ./feature/modPremium.css ***/
/*** ./feature/modQuiz.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modQuiz
{
    font-size: 0.9em;
    color: #24324C;
}

.modQuiz .resultTable
{
    float: left;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 8px;
    table-layout: auto;
}

.modQuiz .resultTable th.answerHeader
{
	width: 17%;
}

.modQuiz .resultTable .entry
{
    vertical-align: top;
    padding-top: 8px;
    border-bottom: 1px solid #DDDDDD;
}

.modQuiz .resultTable .even
{
    background-color: #eee;
}

.modQuiz .resultTable .answer
{
    border: none;
    text-align: left;
    padding: 0 0 8px 0;
}

.modQuiz .resultTable .entry .mediaCon
{
	border: none;
	margin: 0;
}

.modQuiz .resultTable .headlines .entry
{
    border-bottom: 1px solid #24324C;
    vertical-align: bottom;
    padding-left: 1%;
}

.modQuiz .resultTable .data .entry
{
	padding: 8px 8px 0px 16px;
}

.modQuiz .resultTable .question
{
    border: none;
    text-align: left;
    padding: 0;
}

.modQuiz .resultTable .right
{
    color: #080;
}

.modQuiz .resultTable .wrong
{
    color: #800;
    opacity: 1;
    filter: alpha(opacity=100);
}


.modQuiz .resultTable .corrected
{
    font-style: italic;
    font-weight: normal;
}

.modQuiz .text
{
    line-height: 125%;
    width: 100%;
    float: left;
}

.modQuiz .link
{
    width: auto;
    float: right;
    margin-bottom: 36px;
    margin-top: 16px;
    margin-left: 30px;
    padding: 0.5% 1%;
    background-color:  #eee;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
}

.modQuiz .link.quizPre.quizStart
{
	float: left;
}

.modQuiz .dachzeile
{ 
	margin: 0 30px 4px 30px;
	width: auto;
	clear: left;
}

.modQuiz h3.headline
{ 
	margin: 0 30px 6px 30px;
	width: auto;
	clear: left;
	font-size: 1.8em;
}

.modQuiz  .teasertext
{ 
	margin: 0 30px 8px 30px;
	width: auto;
	clear: left;
}

.modQuiz  .answer
{
    border-bottom: 1px solid #DDDDDD;
    float: left;
    width: 99%;
    padding: 1.5% 0 1.5% 1%;
}

.modQuiz  .wrong
{
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modQuiz .textResults
{
    float: left;
    width: 49%;
    border-right: 1px solid #eee;
    clear: left;
}

.modQuiz .visualResults
{
    float: right;
    width: 49%;
    clear: right;
    padding-top: 8px;
    padding-bottom: 8px;
}

.modQuiz .unit
{
    float: left;
    width: 100%;
    margin-bottom: 8px;
}

.modQuiz .unit.quizEntry,
.modQuiz .unit.quizAfter
{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.modQuiz .unit .mediaCon
{
    margin-top: 8px;
    margin-bottom: 0;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 36px;
    width: 100%;
}

.modQuiz .unit .mediaCon .imgLink img
{
	padding: 1%;
	border: 1px solid #DDDDDD;
}

.modQuiz .resultBar
{
    height: 15px;
    width: 100%;
    float: left;
    background-color: #800;
    margin-top: 8px;
}

.modQuiz .resultLevel
{
    height: 100%;
    float: left;
    background-color: #080;
}

.modQuiz .question, .modQuiz .result
{
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    float: left;
    line-height: 150%;
    width: 95%;
	font-weight: bold;
	padding: 36px 0 36px 5%;
}

.modQuiz .progress
{
    float: left;
    margin-top: 30px;
    width: 90%;
    margin: 0 5%;
    overflow: hidden;
}

.modQuiz .progressText
{
    width: 100%;
    float: left;
    color: #AAAAAA;
}

.modQuiz .answer .link
{
    background-color: transparent;
    float: right;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 92%;
    padding: 0;
    border: none;
}

.modQuiz .label
{
    background-color: #EEEEEE;
    float: left;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    width: 6%;
    padding: 0;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    font-weight: bold;
}

.modQuiz .media .label
{
    position: relative;
    top: 27px;
    left: 2px;
    width: 1.25em;    
}

.modQuiz .result .wrong
{
    color: #800;
    opacity: 1;
    filter: alpha(opacity=100);
}

.modQuiz .result .rigth
{
    color: #080;
}

.modQuiz .progressVisual
{
    float: left;
    height: 8px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.modQuiz .progressVisual .active
{
    height: 100%;
    float: left;
}

.modQuiz .progressVisual .right
{
    height: 100%;
    float: left;
}

.modQuiz .progressVisual .wrong
{    
    height: 100%;
    float: left;
    opacity: 1;
    filter: alpha(opacity=100);
}

.modQuiz .progressEntry
{
    height: 100%;
    float: left;
}

.modQuiz .progressEntry .progressIdx
{
	text-align: center;
	margin-bottom: -0.2em;
	color: #AAAAAA;
}

.modQuiz .progressEntry .progressBorder,
.modQuiz .progressEntry .progressColor
{
	height: 6px;
	border-top: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
}

.modQuiz .progressEntry:first-child .progressBorder,
.modQuiz .progressEntry:first-child .progressColor{
	border-left: 1px solid #AAAAAA;
}

.modQuiz .progressEntry .progressBorder
{
	border-top: none;
	border-bottom: none;	
}

.modQuiz .progressEntry.right .progressColor
{
	background-color: #008800;
}

.modQuiz .progressEntry.wrong .progressColor
{
	background-color: #880000;
}

.modQuiz .linklist
{
    margin-top: 8px;
}

.modQuiz .linklist .more
{  
	font-family: ThesisAntiqua, Times, serif;
	text-transform: uppercase;
}

.modQuiz .linklist .more strong
{ 
	font-weight: bold;
}

/*** quizSpiel ***/

.quizSpiel .modQuiz .resultTable
{
	width: 100%;
}

.quizSpiel .modQuiz .resultTable .data .entry
{
	padding: 8px 0 8px 8px;
}

.quizSpiel .modQuiz .resultTable .headlines .entry
{
	padding-bottom: 4px;
}

.quizSpiel .modQuiz .resultTable .data td:first-child + td 
{ 
	padding-top: 7px;
}

.quizSpiel .modQuiz .resultTable .data td:first-child + td + td
{
	padding-left: 20px;
}


/*** modQuiz poll ***/

.modQuiz .poll .mediaA
{
	margin: 2% 0 0 5%;
	width: 90%;
}

.modQuiz .poll .mediaA .imglink
{
	display: none;
}

.modQuiz .poll h3.headline
{
	margin-left: 5%;
	margin-top: 0;
	width: 91%;
}

.modQuiz .poll .mediaCon
{
	width: 95%;
}

.modQuiz .poll .quizEntry .unit .link
{
	margin: 0;
}

.modQuiz .poll .quizEntry .unit .answer
{
	padding: 10px 10px;
	width: 95%;
}

.modQuiz .poll .quizEntry .link
{
	margin-left: 10px;
	margin-right: 13px;
}

/*** modQuiz umfrage ***/

.modQuiz.voting h3.headline
{
	font-size: 1.4em;
}

.modQuiz.voting .vote-bar-container
{
	display: none;
}

.modQuiz.voting .voteresult .vote-detail .vote-number, 
.modQuiz.voting .voteresult .vote-detail .vote-percent
{
	text-align: right;
	width: 22%;
}



/* QUIZ EMBEDDED */
.modQuiz.voting.embedded .poll .quizEntry .link{
	margin: 3px;
}

.modQuiz.voting.embedded .poll .quizEntry .unit .link{
	margin: 0;
}

.modQuiz.voting.embedded form input[type="radio"]{
	float: left;
}





/*** ENDE ./feature/modQuiz.css ***/
/*** ./feature/modSocialBar.css ***/
/************ MODULE-DESIGN: DEFAULT  ************/
.mod.modSocialbar {  }
.modSocialbar .box {  }
.modSocialbar .button {  }
.modSocialbar .button  { }

/* setwidth */
.modSocialbar .print
{  	
	display: none;
}

/* setwidth */
.modSocialbar .send a
{ 
	width: 147px;
}

/* setwidth */
.modSocialbar .likeCon
{
	width: 304px;
	margin-bottom: 0;
	height: 34px;
}

.modSocialbar .likeCon iframe { }

.modSocialbar .likeCon iframe.iframefb
 { 
 width: 120px;
 margin-right: 5px;
 }

.modSocialbar .likeCon iframe.iframetw 
{ 
	width: 96px;
	margin-right: 5px;
}

.modSocialbar .likeCon iframe.iframegp 
{
  	margin-right: 0;
}

.modSocialbar .agreeCon { }
.modSocialbar .like
{
	width: 304px;
	height: 34px;
}

.modSocialbar .like a, .modSocialbar .share a { }

.modSocialbar .like a 
{ 
	padding-top: 10px;
}



/* setwidth */
.modSocialbar .agreement
 {
    top: 34px;
    width: 294px;
 }

.modSocialbar .agreement .text { }
.modSocialbar .agree { }
.modSocialbar .agreement strong { }
.modSocialbar .likes { }
.modSocialbar .likes > * { }
.modSocialbar .shareCon { }

/* setwidth */
.modSocialbar .share
{
    width: 147px;
    margin-right: 0;
}

/* das ist die ul der shares, 10px schmaler!  */
.modSocialbar ul.shares, 
.sectionZ .modSocialbar ul.shares, 
.sectionB .modSocialbar ul.shares
{
    width: 137px;
    top: 30px;
}

.modSocialbar .shares li:last-child { }

.modSocialbar ul.shares li,
.sectionZ .modSocialbar ul.shares li, 
.sectionB .modSocialbar ul.shares li
{ 
	width: 138px;
}

.modSocialbar .like .fb, 
.modSocialbar .like .twitter,
.modSocialbar .like .google
{
	margin: 8px 12px 0 0;
}

.modSocialbar .like .fb { }
.modSocialbar .like .twitter { }
.modSocialbar .like .google { }

.modSocialbar ul.shares li a
{
	width: 112px;
}

.modSocialbar .shares li:hover {}
.modSocialbar .shares .fb { }
.modSocialbar .shares .twitter { }

.modSocialbar ul.shares li.google, 
.sectionZ .modSocialbar ul.shares li.google
.sectionB .modSocialbar ul.shares li.google
{ 
margin-right: 0;
}

.modSocialbar ul.shares li.del, 
.sectionZ .modSocialbar ul.shares li.del, 
.sectionB .modSocialbar ul.shares li.del
 { 
margin-right: 0;
}
.modSocialbar .shares .wong { }

/* heller Pfeil, wenn auf dunkelblau */

.modSocialbar .collapseArrow  { }

.modSocialbar .hasArrow.collapsed .collapseArrow
{ }


/* Zusatzanweisungen fuer bestimmte Layouts */




/* Der Drucken-Button */


/* Der Drucken-Button */
.sectionB .modSocialbar .print a
{

}

/* Der Senden-Button */
.sectionB .modSocialbar .send a
{
	width: 147px;
}

/* Der Teilen-Button */
.sectionB .modSocialbar .share
{
    margin-right: 0;
    width: 147px;
}
/* hier 5px padding beachten */
.sectionB .modSocialbar ul.shares
{

	top: 30px;
}

.sectionB .modSocialbar ul.shares li
{
	width: 138px;
}

.sectionB .modSocialbar ul.shares li a
{

}

/* Das container fuer die sm-dienste */
.sectionB .modSocialbar .likeCon
{
	width: 304px;

}

.sectionB .modSocialbar .like
{
	width: 304px;
}

/* Das agreement fuer die Dienste */
.sectionB .modSocialbar .agreement
{
    width: 294px;
    padding: 8px 5px 8px 5px;
}



/* Der Drucken-Button */
.sectionZ .modSocialbar .print a	
{

}

/* Der Senden-Button */
.sectionZ .modSocialbar .send a
{
	width: 147px;	
}

/* Der Teilen-Button */
.sectionZ .modSocialbar .share
{
    width: 147px;
    margin-right: 0;
}
/* hier 5px padding beachten */
.sectionZ .modSocialbar ul.shares
{

}

.sectionZ .modSocialbar ul.shares li
{

}

.sectionZ .modSocialbar ul.shares li a
{

}

/* Das container fuer die sm-dienste */
.sectionZ .modSocialbar .shareCon
{

}

.sectionZ .modSocialbar .likeCon
{
	width: 304px;
}

.sectionZ .modSocialbar .like
{
	width: 304px;
}

/* Das agreement fuer die Dienste */
.sectionZ .modSocialbar .agreeCon
{
    width: 294px;
}


.sectionZ .modSocialbar .agreement
{
    width: 294px;
    padding: 8px 5px 8px 5px;
}



/*** ENDE ./feature/modSocialBar.css ***/
/*** ./feature/modStage.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modConStage .modStage
{
	display: none;
}

.modStage  .mediaCon
{	
	width: 100%;
	float: left;
}

/*** ENDE ./feature/modStage.css ***/
/*** ./feature/modStopper.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modStopper .ressort
{		
	display:none;
}

.modStopper  .mediaCon
{	
	margin: 0;
	width: 100%;
}

.modStopper .viewA .mediaCon
{
    width: 100%;
}

.modStopper .viewB .mediaCon
{
    width: 100%;
}

.modStopper .viewC .mediaCon
{
    width: 100%;
}

.modStopper .dachzeile
{ 
	display:none;
}

.modStopper .headline
{ 
	display:none;
	margin-top: 4px;
    margin-bottom: 0px;
}

.modStopper .viewB .headline
{
    display:block;
    width: 100%;
    float: right;
}

.modStopper .viewC .headline
{
    display:block;
    width: 100%;
    float: right;
}

.modStopper  .teasertext
{ 
	display:none;
    font-family: Thesis;
    font-size: 0.8em;
    margin-top: 4px;
}

.modStopper .viewB .teasertext
{
    display:block;
    width: 100%;
    float: right;
}

.modStopper .viewC .teasertext
{
    display:block;
    width: 100%;
    float: right;
}

.modStopper .linklist
{ 
	display:none;
}

/*** ENDE ./feature/modStopper.css ***/

/*** modTable ***/

.modParagraph .modTable 
{
	margin-top: 28px;
}

.modTable .table
{
	margin-bottom: 28px;
	overflow-x: scroll;
}
/*** ENDE - modTable ***/

/************* modIFrame ************/

.legende .button a
{
	padding: 14px 12px;
}

/*** ./feature/modTagcloud.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modTagcloud .linklist
{
     display: block;
}

.modTagcloud .linklist .list
{
    border: none;
}

.modTagcloud .linklist .list li
{
    border: none;
    width: auto;
    padding-right: 12px;
    display: table;
    float: left;
}

.modTagcloud .linklist .list li a
{
    display: table-cell;
    vertical-align: bottom;
    height: 30px;
}

/************ MODULE-DESIGN: SLIDER  ************/

.modTagcloud .controls .labels .entries
{
    padding: 0 8px 0 8px;
}
/*** ENDE ./feature/modTagcloud.css ***/
/*** ./feature/modTeaseronly.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modTeaseronly .dachzeile
{ 
	clear: both;
	float: left;
	width: 100%;
}

.modTeaseronly .headline
{ 
	clear: both;
	float: left;
	width: 100%;


}

.modTeaseronly .linklist
{ 
	display:none;
}

.sectionA .modC.modTeaseronly .box:first-child
{
	margin-top: 0;
}

.sectionA .modC.modTeaseronly .box
{
	margin-top: 4px;
}

/*** ENDE ./feature/modTeaseronly.css ***/
/*** ./feature/modTicker.css ***/

.mod.modTicker .linklist
{
	display: block;
}

/*** ENDE ./feature/modTicker.css ***/
/*** ./feature/page.jsp ***/

/************ PAGE-DESIGN  ************/

.conHeadline
{
	font-size: 1.4em;		
	line-height: 110%;
    margin: 6px 0 2px 0;
    width: 98.5%;
    padding: 0 0 0 1.5%;
    float: left;
    color: #001a4b;
    text-indent: 0;
}

.sectionZ h2.conHeadline 
{
    margin: 0px;
}


.collapseArrow
{
    width: 20px;
    height: 20px;
    background: url("../img/base/icon/arrow_collapsible.png") no-repeat scroll 0px -20px transparent;
    	margin: 6px 5px 0 0;
}

.collapsed .collapseArrow
{
    background: url("../img/base/icon/arrow_collapsible.png") no-repeat scroll 0px 0px transparent;

}

.button a
{
    float: left;
}

/* @group controls */

/************ MODULE-CONTROLS: SLIDER/PAGING ************/


/* .button, z.B. fuer Social Media */


/* Regulaere Slider Controls */

/* zurueck-Button in den Slider Controls */

.mod .controls .prev, 
.mod .controls .next
{ 
	min-width: 48px;
}

/* Controls fuer Buttons */

.mod .controls .labels .entry
{
    margin: 0 1px 0 0;
    float: left;
    cursor: pointer;
}

.mod .controls.sliding .labels
{
    margin-top: -46px;
}

.mod .controls.sliding .labels .entry
{
    width: 8px;
    height: 8px;
}

.mod .controls.paging .labels .entry
{
    padding: 0;
}

.mod .controls.paging .labels .entry a
{
    padding: 6px 8px 6px 8px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mod .controls.paging .labels .entry
{
    background-color: #a39f9c;
}

/* Verwendung unklar */
.mod .controls .info
{
 }
/* @end */
/*** ENDE ./feature/page.jsp ***/

/*** modThumbnail ***/

.modThumbnail .dachzeile
{
    width: auto;
    float: none;
}

.modThumbnail .headline
{
    width: auto;
    float: none;
}

.modThumbnail  .teasertext
{
    width: auto;
    float: none;
}

.modThumbnail .linklist
{
    width: 100%;
    float: left;
    clear: right;
}


.mod.modThumbnail .mediaCon {
    margin-right: 1%;
    width: 25%;
}

.mod.modThumbnail .dachzeile {
    float: none;
    width: auto;
}


.mod.modThumbnail .headline {
    float: none;
    width: auto;
}
.mod.modThumbnail .teasertext {
    float: none;
    width: 98%;
}
.mod.modThumbnail .linklist {
    clear: right;
    float: left;
    width: 100%;
}

/*** ENDE modThumbnail ***/

/*** ./footer.jsp ***/
/**** GRID ****/
#footer
{
    width: 100%;
    float: left;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #001A4B;
    font-size: 1em;
}

#footer .wrapper
{
    width: 100%;
}

#footer .section
{
    margin: 0;
    width: 100%;
    padding-bottom: 4px;
}

#footer .unitD
{
    width: 100%;
}

#footer .unitD ul
{
   float: left;
   padding: 0 0 15px 0;
   width: 100%;
}

#footer  a
{
    color: #FFFFFF;
    padding: 4px 0 4px 0;
    display: block;

}

#footer ul li a
{
    color: #FFFFFF;
    padding: 4px 2% 4px 2%;
    display: block;
    width: 96%;
	
}


#footer a:hover, 
#footer a:active,
#footer a:focus

{
background: #234179;
}

#footer li
{
    float: left;
    margin: 0 0 0 0;
    font-size: 0.9em;
    width: 100%;

}


#footer .unitD h3
{
    color: #FFFFFF;
    border-top: #4E75A0 1px solid;
    padding: 12px 2% 10px 2%;
    width: 96%;
    font-size: 1em;
}


#footer .unitD:first-child h3
{
	border-top: none;
}

#footer h3:hover
{
	background: #234179;
}

#footer .foot {
    border-top: 1px solid #4E75A0;
    float: left;
    margin: 0;
    padding: 20px 0;
    width: 100%;
}


#footer .help
{
    float: left;
    clear: left;
    width: 100%;
}


#footer .logo
{
    float: left;
    clear: left;
    width: 100%;
    padding: 0;
}

#footer a.logo:hover
{
	background: none;	
}


#footer .logo img
{
    margin: 6px 10px 6px 6px;
    float: right;
}

#footer .copy
{
    color: #FFFFFF;
    font-size: 0.9em;
    text-align: right;
    width: 80%;
    float: right;
    margin: 0 8px 0 0;
}


#footer .collapseArrow
{
    margin-top: 14px;
    margin-right: 2%;
	background: url("../img/base/icon/arrow_collapsible.png") no-repeat 0 -60px;
}

#footer .collapsed .collapseArrow
{
	background: url("../img/base/icon/arrow_collapsible.png") no-repeat 0 -40px;
}


/*** ENDE ./footer.jsp ***/
/*** ./grid.css ***/
/* PAGE LAYOUT */

body
{
    overflow-x: hidden;
}

.wrapper
{
    width: 320px;
    margin: 0 auto 0 auto;
}

/*** CONTENT ***/

#content
{
    width: 100%;
    float: left;
    margin: 0 0 0 0;

}

.con
{
    float: left;
    width: 100%;
    margin: 8px 0 0 0;
    background-color: #fff;

}

.sectionArticle .con
{
  margin: 4px 0 0 0;
}

.con:first-child
{
    margin-top: 0;
}

.modCon
{
    width:100%;
    float: left;
    background-color: #fff;
}

.boxCon
{
    width: 100%;
    float: left;
}


/* TEASER LAYOUT */

.teaser
{
    width: auto;
    float: none;
    overflow: auto;
}

.slider .teaser .dachzeile,
.slider .teaser h4.headline
{
	clear: left;
}
.modMini .slider .teaser .dachzeile,
.modMini .slider .teaser h4.headline
{
	clear: none;
}

/* SECTION LAYOUT */

.section
{
    float: left;
    width: 100%;
    margin: 4px;
    padding: 0px;
}

.sectionArticle
{
  background-color: #eee;
  background-color: #fff;

}



/* BOX LAYOUT */

.box
{
    margin: 0px;
    padding: 4px;
	width: 304px;
    float: left;
    overflow: auto;
}


.modParagraph .modMini .box{
	width: 296px;
}

/* MODULE LAYOUTS - SECTION A */

.sectionA
{
    width: 312px;
}

.sectionA .mod .box
{
    width: 304px;
}

/* MODULE LAYOUTS - SECTION B */

.sectionB
{
    width: 312px;
}

.sectionB .mod .box
{
    width: 304px;
}


/* MODULE LAYOUTS - SECTION C */

.sectionC
{
    width: 312px;
} 

.sectionC .mod .box
{
    width: 304px;
}


/* MODULE LAYOUTS - SECTION D */

.sectionD
{
    width: 312px;
}

.sectionD .mod .box
{
    width: 304px;
}


/* MODULE LAYOUTS - SECTION E */

.sectionE
{
    width: 312px;
}

.sectionE .mod .box
{
    width: 304px;
}


/* MODULE LAYOUTS - SECTION Z */

.sectionZ
{
    width: 312px;
}

.sectionZ .mod.modClassic .box
{
    width: 304px;
    margin-top: 4px; 
}

.sectionZ .modB .teaser
{
	margin-top: 4px;
}


.sectionZ .modParagraph .modB .box
{
    width: 296px;
}

/* units (immer -0.03% wegen IE7) */

.unitA
{
    width: 100%;
    float: left;
}

.unitB
{
    width: 100%;
    float: left;
}

.unitC
{
    width: 100%;
    float: left;
}

.unitD
{
    width: 100%;
    float: left;
}

.unitE
{
    width: 100%;
    float: left;
}


.unitX
{
    width:  100%;
    float: left;
}


.unitY
{
    width:  100%;
    float: left;
}

.unitZ
{
    width:  100%;
    float: left;
}

/*.childA * *,
.childB * *,
.childC * *,
.childD * *,
.childE * *,
.childZ * *
{
    width: auto;
    float: none;
} */


/* INITIAL SLIDER COLCON-WIDTH */

.mod .slider
{
    width: 200000px;
}

/* GENERAL */

img
{
    display: block;
}

/*** ENDE ./grid.css ***/
/*** ./header.jsp ***/
/* MASTERNAVI */

.masternavi .wrapper, .masternavi .section, #header .wrapper , #header .section
{
    overflow: visible;
}


.masternavi .section
{
    background-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
}

#header .wrapper .section
{
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}


.masternavi .navi
{
    position: relative;
    width: 100%;
    float: left;
}

.masternavi .menueToggle
{
    float: left;
    height: 32px;
    margin: 0;
    padding: 6px 20px 0 0;
    background-color: #fff;
	width: 140px;
	display: block;
}

.masternavi .menueToggle a
{
    float: left;
    padding: 4px 0 4px 8px;
    color: #001a4b;
}

.masternavi .menueToggle.collapsed
{
    background-color: transparent;
}

.masternavi .menueToggle.collapsed a
{
    color: #fff;
}

.masternavi .wrapper
{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.masternavi
{
    width: 100%;
    float: left;
    height: 34px;
}


#header
{
background: url(../img/base/masternavi/mn_ard.png) repeat-x 0 0;
}

.ard  #header
{
background: url(../img/base/masternavi/mn_ard.png) repeat-x 0 -65px;
}

.tagesschau #header
{	
background: url(../img/base/masternavi/mn_tagesschau.png) repeat-x 0 -65px;
}




.masternavi ul
{
    position: absolute;
    background-color: #fff;
    top: 34px;
    left: 0px;
    width: 161px;
    padding-top: 8px;
    z-index: 5000;
    -moz-box-shadow:    0px 20px 25px -5px #000;
    -webkit-box-shadow: 0px 20px 25px -5px #000;
    box-shadow:         0px 20px 25px -5px #000;
}

.masternavi li
{
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    background: none;
    border-bottom: 1px solid #ddd;
}

.masternavi li.active
{
    background-color: #ddd;
}

.masternavi ul li a
{
    float: left;
    width: 96%;
    color: #001a4b;
    padding: 4px 0 4px 4%;
    border-bottom: 0;
	height: auto;
}

.masternavi ul li a:hover,
.masternavi ul li a:focus,
.masternavi ul li a:active
{
    color: #001a4b;
    background: #e9ebef;
	height: auto;
    border-bottom: 4px solid #e9ebef;

    padding: 4px 0 0 4%;
}



}

.masternavi .tv,
.masternavi .radio,
.masternavi .ardmt
{
    font-weight: bold;
}

.masternavi .tv
{
    margin-top: 28px;
    border-top: 1px solid #ddd;
}

/* HEADER */


#header
{
    float: left;
    width: 100%;
}

#header .section
{
    background-color: transparent;
}


.collapseArrowSmall
{
    float:right;
    width: 20px;
    height: 15px;
    margin-top: 4px;
    background: url("../img/base/icon/arrow_collapsible.png") no-repeat scroll 0px -15px transparent;
}

.collapsed .collapseArrowSmall
{
    background: url("../img/base/icon/arrow_collapsible.png") no-repeat scroll 0px 0px transparent;
}

#header .logo 
{
	background: none repeat scroll 0 0 transparent;
    float: left;
	width: auto;
    height: auto;
	margin: 4px 0 0 0;
}

#header .logo img
{
   width: auto;
   height: 48px;
  }

#header .searchBox
{
    left: 160px;
    margin: 0 0 0;
    position: absolute;
    top: 0;
    
}

#header .searchToggle
{
    float: right;
    padding: 0 4px 0 0;
    width: 55px;
    height: 34px;
    border-right: 1px solid #b2c2de;
    border-left: 1px solid #b2c2de;
    border-bottom: solid 1px #fff;
	

background: #fff url('../img/base/icon/lupe_searchtoggle.png') no-repeat 0px 0px;

}

#header .searchToggle.collapsed
{
    border-bottom: none;

background: url('../img/base/icon/lupe_searchtoggle.png') no-repeat 0px -34px;

}

#header .searchToggle img
{
    height: 25px;
    display: none;
    padding: 4px 4px 3px 8px;
}



#header .searchForm
{
    background-color: #FFFFFF;
    height: 28px;
    left: -161px;
    padding: 6px 0;
    position: absolute;
    top: 34px;
    width: 222px;
    z-index: 100;
    -moz-box-shadow:    0px 20px 25px -5px #000;
    -webkit-box-shadow: 0px 20px 25px -5px #000;
    box-shadow:         0px 20px 25px -5px #000;
}

#header .searchInput
{
    border: 1px solid #DDDDDD;
    float: left;
    height: 25px;
    margin: 0 0 0 5px;
    padding: 0 0 0 5px;
    width: 175px;
    font-size: 0.85em;
    color: #516384;
}

#header .searchInput.active
{
    color: #000;
}

#header .searchSubmit
{
    float: left;
    width: 30px;
    padding: 0;
    margin: 0 0 0 2px;
}

#header .searchSubmit
{
    float: left;
    width: 30px;
    padding: 0;
    margin: 0 0 0 2px;
}

#header .searchSubmit img
{
    float: right;
    width: 100%;
}

#header .subnavi .menueToggle
{
    background-color: #fff;
    height: 34px;
    padding: 0 0 0 0;
    float: left;
    width: 85px;
    background-color: #fff;
    border-bottom: 1px solid #fff;
	color: #001a4b;
	font-weight: bold;
	display: block;
}

#header .subnavi .menueToggle.collapsed
{
    border-bottom: none;
	background-color: #2b1324;
}

.subnavi .ressorts 
{
    background: #fff;
	z-index: 9000;
}


.subnavi .subressorts 
{
    background: #EEEEEE;
}

.tagesschau #header .subnavi .menueToggle.collapsed, 
.tagesschau #header .subnavi .menueToggle.collapsed a
{
/*background: rgba(28, 60, 136, 0.9);*/
color: #fff;
}


#header .subnavi .menueToggle a
{
    padding: 10px 0 0 6px;
    float: left;
    width: 50px;
    color: #001a4b;
}

.subnavi .ressorts .collapsed a
{
	color: #001a4b;
}


#header .subnavi .menueToggle.collapsed a
{
    color: #fff;
}

#header ul.ressorts .collapseArrow
{
	margin-top: 4px;
}

.subnavi
{
    float: right;
    margin: 12px 0px 0 0;
    position: relative;
    width: auto;
    z-index: 100;
}


.subnavi .ressorts li
{
    float: left;
    position: relative;
    padding: 4px 14px 3px 14px;
    z-index: 10000; 
}

.subnavi .ressorts
{
    background-color: #FFFFFF;
    left: -143px;
    padding: 4px 4px 0;
    position: absolute;
    top: 31px;
    width: 220px;
    -moz-box-shadow:    0px 20px 25px -5px #000;
    -webkit-box-shadow: 0px 20px 25px -5px #000;
    box-shadow:         0px 20px 25px -5px #000;
}

.subnavi .ressorts span
{
    float: left;
    padding: 0;
    width: 100%;
    color: #001a4b;

}

.subnavi .ressorts li a
{
	color: #000000;
    float: left;
    margin: 0;
    padding: 4px;
    text-align: left;
    width: auto;}

.subnavi .ressorts li a:focus{
	width: 96%;
}

.subnavi .ressorts li
{
    position: static;
    width: 100%;
    float: left;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-bottom: 1px solid #d9e2eb;
}

.subnavi ul.ressorts li:hover, 
.subnavi ul.ressorts li:active, 
.subnavi ul.ressorts li:focus {
    background: #e9ebef;
}

.subnavi .active,
.subnavi .active.collapsed 
{
    background: #e9ebef;
}

.ressorts .subressort.hasArrow
{
	background-color: #eee;
	border-bottom: 1px solid #ddd;
}

.ressorts .collapsed.subressort.hasArrow
{
	background-color: transparent;
	border-bottom: none;
}

.subnavi .subressorts
{
    width: 100%;
    float: left;
    margin-left: 0 !important;
}

.subnavi .subressorts li
{
    border-bottom: 1px solid #d9e2eb;
}

.subnavi .subressorts .hasArrow
{
	border-bottom: 1px solid #e9ebef;
}

.subnavi .subsubressorts
{
    width: 100%;
    float: left;
    background-color: #ddd;
}


.subnavi .subsubressorts li
{
    border-bottom: 1px solid #d9e2eb;
}
/*** ENDE ./header.jsp ***/


/*** ./skin/tagesschau.jsp ***/


/*** SKIN: TS ***/

body.tagesschau
{ 
	background: #00599a url(../img/tagesschau/background/base.jpg) repeat-x top;
}



.tagesschau .box.active a
	{
	color: #fff;
	}



.tagesschau #content
{
	background: none;
}

.tagesschau .mod{
	background-color: #fff;
}

.tagesschau .modConStage .box.active{
	background-color: #c8e4f5;
}

.tagesschau #content .sectionC, .tagesschau #content .sectionZ
{
    background-color: #fff;
}



/*** HINTERGRUND BOX ***/
.tagesschau .box
{
	background: #fff url('../img/tagesschau/background/box_base.jpg') repeat-x bottom;
}

.tagesschau .box.active
{
    background: #001a4b url('') repeat-x bottom;
    color: #fff;
}


.tagesschau .modConGallery .modPicture{
	display: none;
}

/*** ENDE ./skin/tagesschau.jsp ***/

/*** VISIBLE UND HIDDEN KLASSEN ***/

.hiddenInViewXS
{
	display: none;
}

.visibleInViewXS
{
	display: block;
}


/*** Inline-Klasse ***/

.inline .modGallery .box, .inline .modHead .box, .inline .modPicture .box, .inline .modBildwischer .box
{
	width: 266px;
	margin-bottom: 0px;
}


.inline {
	margin: 16px 5%;
	width: 274px;
	display: block;
	float: left;
}

.inline .media{
	margin: 0px;
}

.inline .modGallery .media{
	height: 150px;
}


.inline .modHead .info, .inline .modHead .subline, .inline .modGallery .teasertext{
	padding: 2%;
	width: 95%;
}

.inline .modHead .info{
	padding: 4px;
	width: 35px;
	text-align: right;
}

.inline .mod.modGallery .controls.sliding .prev, .inline .mod.modGallery .controls.sliding .next{
	margin: 0px;
}

.sectionZ .inline .modD.modPicture .box,
.sectionA .inline .modD.modPicture .box {
    width: 131px;
    padding: 3px;
}

.modParagraph .inline h2.headline {
    float: left;
    font-size: 1.2em;
	margin: 0px;
    width: 80%;
    padding: 4px;
}

.modParagraph .inline .bildwischer .box{
	width: 274px;
	padding: 0px;
}

.modParagraph .inline .bildwischer .box p.teasertext, div.bildwischer .explain {
	padding: 1%;
	width: 98%;
	clear: both;
	display: block;
}

div.bildwischer.vertical .anfasser{
	background: url('../img/base/icon/arrow_bildwischer_xs_vertical.png') top right no-repeat transparent;
	position: absolute;
	bottom: -22px;
	height: 44px;
}


.sectionZ .inline .modB .box, .sectionZ .inline .modC .box, .sectionZ .inline .modD .box, .sectionZ .inline .modE .box {
    width: 266px;
    padding: 4px;
}


/* MuBu */

.sectionC .mubuList {
	display: none;
}

.mubuList {
	display: block;
	float: left;
	clear: both;
	width: 100%;
}

.mubuList ul{
	border-bottom: 1px solid #9DADC7;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 4px;
 }

.mubuList li a{
    display: block;
    float: left;
    width: 100%;
	border-top: 1px solid #9DADC7;    
	padding: 4px 0px;
 }

.mubuList .mubuIcon{
	float: left;
	width: 36px;
	display: inline;
}

.mubuList .mubuIcon img{
	width: 100%;
}

.mubuList .mubuText{
	width: auto;
	padding-top: 2px;
	display: inline;
}

.mubuList .mubuText span{
	padding-left: 40px;
	display: block;
    padding-left: 40px;
}

.modA.modInhaltstypTgs .mediaCon, .modInhaltstypTgs{
    width: 100%;
}

div.bildwischer .anfasser{
	background: url('../img/base/icon/arrow_bildwischer_xs.png') left center no-repeat transparent;
	right: -22px;
}




.modConGallery .modC.modPicture .box,
.modConGallery .modD.modPicture .box,
.modConGallery .modE.modPicture .box
{
	width: 304px;
}


.modConGallery .modE.modPicture .box
{
	width: 148px;
}



/*** Wetter ***/

.wetter .modTable h3.headline
.wetter .box h3.headline
{
	margin-top: 8px;
}

.wetter .modTable .collapseArrow 
{
	margin-top: 2px;
}

/* Text-Link im Logo-Bereich f. spezielle Events */

#header .logo .eventLogo img {
	height: 34px;
}

.eventLogo {
	width: 200px;
	margin-bottom: -1px;
	position: relative;
	left: 0;
	top: -6px;
}

.eventLogoLink {
	color: #FFFFFF; 
}

/*** ################ Barrierefrei ###################  ***/
.skiplinks a:focus
{
	width: 312px;
	left: 7px;
}





/*** ################ sectionA rundown ################ ***/
 
.modParagraph.modRundown .text, 
.modParagraph.modRundown .dachzeile, 
.modParagraph.modRundown .mediaCon.mediaTop.small, 
.modParagraph.modRundown .text,
.modParagraph.modRundown .small,
.modParagraph.modRundown h4.subtitle,
.modParagraph.modRundown blockquote.zitat,
.mod .snowflake h3.headline, 
.sectionA .inline,
.modParagraph.modRundown .modQuiz .unit.quizEntry
{
    float: left;
    margin-left: 5%;
    width: 90%;
    overflow: hidden;
}

.modParagraph.modRundown .modSharing .shareCon{
	padding-left: 5%;
}

.modParagraph.modRundown blockquote.zitat{
	width: 78%;
}
 
.modParagraph.modRundown .sendungsbezug{
	margin-left: 5%;
	width: 70%;
}
 
.modParagraph.modRundown .small.video .mediaA iframe{
	width: 100% !important;
	overflow: hidden;
} 
 
.mod .snowflake .infokasten h3.headline, 
.modParagraph.modRundown .infokasten .dachzeile{
	padding: 0;
	margin: 0;
}
 
.sectionA .inline .modGallery .box .mediaCon,
.sectionA .inline .modGallery .media{
    height: auto;
}

.sectionA .modRundown .inline .modBildwischer .box .mediaCon {
    height: 155px;
}

.sectionA .inline .modGallery .box, 
.sectionA .inline .modHead .box, 
.sectionA .inline .modBildwischer .box {
    padding: 0;
    width: 274px;
}
 
 
 /* KAPITELNAVI */

.mod .chapter {
    clear: both;
    float: left;
    margin-bottom: 20px;
    margin-left: 0%;
    margin-top: 50px;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
}

.mod .chapter .dossiertitle {
	padding-top: 50px;
}

.mod .chapter h3.headline{
	text-align: center;
	font-size: 1.2em;
	float: left;
	padding-top: 15px;
	padding-bottom: 15px;
}

.prevchapter .button,
.nextchapter .button{
	font-size: .8em;
	display: none;
}

.prevchapter .chapterarrow,
.nextchapter .chapterarrow{
	width: 100%;
}

/* CHAPTER v2 */
		.mod .chapter.v2 .dossiertitle {
			padding: 0;
			height: 73px;	
			font-size: .7em;
		}
		
		.mod .chapter.v2 {
		   	width: 100%;
			margin-left: 0;
		    padding-top: 75px;
		}


		.sectionA .modParagraph.modRundown .chapter.v2 .headline{
			margin-left: 0;
		}
		
 
		.mod .chapter.v2 h3.headline{
			float: left;
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 1.3em; 
			margin: 0;
		}

		.mod .chapter.v2 h3.headline span{
    		text-align: left;
			padding: 4% 64px 4% 5px;
		}
		
		.chapter.v2 .prevchapter .button,
		.chapter.v2 .nextchapter .button{
			font-size: .8em;
		}

		.chapter.v2 .prevchapter .button{
			bottom: 39px; 
		}

		.chapter.v2 .prevchapter{
			top: 76px;
		}

	.chapter.v2 .nextchapter:hover .button, 
	.chapter.v2 .prevchapter:hover .button{
			display: none;
	}

/* Rundown-Navi */
 
.subnavi.fixie{
	width: 312px;
	background: none repeat scroll 0 0 rgba(28, 60, 136, 1);
	margin-left: -4px;
}
 
.subnavi.fixie .menueToggle.collapsed {
 	background: none repeat scroll 0 0 rgba(28, 60, 136, 0.9);
}
 
.subnavi.fixie .menueToggle {
   background: #fff;
   border-bottom: none;
   border-left: 1px solid #FFFFFF;
   color: #001A4B;
   display: block;
   float: right;
   font-weight: bold;
   height: 34px;
   padding: 10px 0 0 6px;
   width: auto;
   padding-right: 30px;
}

.subnavi.fixie .menueToggle.collapsed a{
   color: white;
}
 
.subnavi.fixie .ressorts{
   	left: 74px;
}
 
.subnavi.fixie .collapsed .collapseArrow {
   	background: url("../img/base/icon/arrow_collapsible.png") no-repeat scroll 0 -40px rgba(0, 0, 0, 0);
}

.subnavi.fixie  .collapseArrow {
   	background: url("../img/base/icon/arrow_collapsible.png") no-repeat scroll 0 -20px rgba(0, 0, 0, 0);
   	height: 20px;
   	margin-right: 4px;
   	margin-top: 8px;
   	width: 20px;
}


/* ### TS-Map ### */

.kartenlegende .kartenhinweis a{
	padding: 1%;
	float: left;
	margin-left: 8%;
	width: 80%;
	text-align: center;
}

 #layerswitcher{
 	margin-left: 8%;
 }

#overlay{
	position: relative;
	background: white;
	width: 98%;
	opacity: 1;
	padding: 1%;
	left:0;
	top: 0;
}

.modTSMap .mediaCon{
	width: 100%;
}

/* Event-Komponente */
.modClassic .componentheader .mediaCon, 
.modA .componentheader .mediaCon {
  width: 101%;
}

/* Breadcrumb */
body.tagesschau .mod.modBreadcrumb {
    margin-top: 0px;
}


/* Sharing2014 */
.modSharing .fixedSharingContainer{
    bottom:-3px;
    top:auto;
    margin-left: -4px;
}

.modSharing .whatsapp{
    display:inline-block;
}

.modSharing .print{
    display:none;
}
 

.modSharing .sharingText {
   display:none;
}

/*** Section andocken ***/
.angedockt {
	margin-top: -4px;
}

.angedockt .box { 
	margin-top: 4px;
}

/*** Teaser IMG Overlay ***/

.teaserImgOverlayText {
	font-size: 20px;
	padding: 8px 8px 8px 10px;
}

/*** tsTeaser ***/

.tsTeaser .box {
	margin-top: 4px;
}



/*** shareCon ***/

.socialMedia .sharingBar .shareCon {
	padding-left: 4.5%;
	padding-bottom: 0;
}

.sharingBar .nachoben{
	display: none;
}

/*** Storywrapper ***/

.storywrapper {
	width: 312px;
	margin-left: 4px;
	margin-top: 4px;
	background: none;
}

.storywrapper .sectionA {
	margin: 0;
}

.storywrapper .sectionA + .section {
	margin-top: 0;
}

.storywrapper .sectionC,
.storywrapper .sectionZ {
	margin-left: 0;
	margin-right: 0;
}

.storywrapper .mediaTop {
	margin-top: 0;
}

.storywrapper .sectionA .modA .dachzeile,
.storywrapper .sectionA .modA .headline,
.storywrapper .sectionA .modA .text {
	margin-left: 4.5%;
	width: 95%;
}

.storywrapper .sectionA .modA .headline {
	font-size: 1.5em;
}

.storywrapper .mediaCon.mediaTop.small {
/*	width: 280px;*/
	margin-right: 5%;
}

.storywrapper .section.sectionC cset .con:first-child {
	margin-top: 8px;
}

.storywrapper .modSharing.sharingBar {
	height: auto;
}

/* Top 10 bullets ausblenden und anpassen */

.modPicList .linklist {
	display: block;
}

.modPicList .linklist .list .number {
	display: none;
}

.sectionA .modB.modPicList .boxCon .box:first-child {
	background: none;
	padding-bottom: 0;
}

.sectionA .modB.modPicList .boxCon .box:last-child {
	padding-top: 0;
}

.sectionA .modB.modPicList .boxCon .box:first-child .linklist {
	margin-bottom: 0;
}

.sectionA .modB.modPicList .boxCon .box:first-child li:last-child {
	border-bottom: none;
}

/*** modTicker Fussballticker ***/

.sectionA .modTicker .box:first-child {
	background: none;
	padding-bottom: 0;
}

.sectionA .modTicker .box:last-child {
	padding-top: 0;
}

.sectionA .modTicker .box:first-child .linklist {
	margin-bottom: 0;
}

.sectionA .modTicker .box:first-child li:last-child {
	border-bottom: none;
}

/* h3 Überschrift Kachel */

.sectionC.kachel h3.ressort {
	font-size: 1.4em;
} 

.sectionC.kachel .lottoBox h3.ressort {
	font-size: 1.6em;
} 
