/* line 6, ../sass/style.scss */
#quiz2 {
  margin-left: 10%;
  width: 80%;
}

/* line 11, ../sass/style.scss */
#audioPlayer {
  margin-top: 10px;
  margin-left: 20px;
}

/* line 16, ../sass/style.scss */
#mediaURL {
  width: 75%;
  margin-bottom: 10px;
}

/* line 21, ../sass/style.scss */
#njQuestiontype {
  display: inline-block;
}

/* line 26, ../sass/style.scss */
body {
  background-color: #f0ece5;
}

/* line 30, ../sass/style.scss */
#njLogo_img {
  background-color: #2568B4;
  width: 600px;
}

/* line 35, ../sass/style.scss */
#njInnerContent {
  background-color: #2568B4;
}

/* line 39, ../sass/style.scss */
#progressBar {
  width: 600px;
  height: 22px;
  border: 1px solid #111;
  background-color: #0C1754;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* line 47, ../sass/style.scss */
#progressBar div {
  height: 100%;
  color: #fff;
  text-align: right;
  line-height: 22px;
  /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #0099ff;
  box-sizing: border-box;
}

/* line 58, ../sass/style.scss */
#countdown {
  margin-top: 15px;
  width: 175px;
  margin-left: 150px;
  background-color: #CECECE;
  border: 1px;
  border-radius: 25px;
  font-size: 15px;
}

/* line 68, ../sass/style.scss */
#textQuestion {
  width: 550px;
  font-weight: bold;
  font-size: 20px;
  height: 50px;
}

/* line 75, ../sass/style.scss */
#submitQuestion {
  margin-top: 25px;
  margin-left: 150px;
}

/* line 80, ../sass/style.scss */
.njAdminQuestionarea {
  width: 220px;
  height: 100px;
  font-size: 18px;
}

/* line 86, ../sass/style.scss */
.njQuizAnswerButton {
  background-color: aqua;
  width: 250px;
  height: 100px;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 10px;
}

/* line 97, ../sass/style.scss */
#njTimeRangeInput {
  width: 300px;
}

/* line 102, ../sass/style.scss */
#startQuizBtn {
  margin-left: 175px;
  border: 2px solid #a1a1a1;
  padding: 10px 40px;
  background: #dddddd;
  width: 300px;
  border-radius: 25px;
}

/* line 111, ../sass/style.scss */
#startQuizBtn:hover {
  font-weight: bold;
  border-color: #000000;
}

/* line 116, ../sass/style.scss */
#njMainContainer {
  margin-left: 5%;
  width: 700px;
  padding: 10px 40px;
  background-color: #2568B4;
}

/* line 123, ../sass/style.scss */
#njForm {
  width: 600px;
  height: 50px;
  padding: 10px 40px;
}

/* line 129, ../sass/style.scss */
#njFragenId {
  font-weight: bold;
  width: 600px;
  border: 1px solid #c6c6c6;
  padding: 10px 4px;
  background: #1B95D1;
  border-radius: 5px;
}

/* line 138, ../sass/style.scss */
.njAntwortCss {
  border: 1px solid #c6c6c6;
  padding: 10px 20px;
  background: #bbc1d0;
  border-radius: 5px;
  width: 250px;
  height: 150px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
}

/* line 150, ../sass/style.scss */
.njAntwortCss:hover {
  font-size: 16px;
  font-weight: bold;
  background-color: #9e9aad;
  border: 10px #f4fff5;
}

/* line 157, ../sass/style.scss */
.njAllgemeinCounter {
  border: 1px solid #c6c6c6;
  padding: 10px 20px;
  background: #1B95D1;
  border-radius: 5px;
  width: 250px;
  font-size: 16px;
  margin-top: 10px;
}

/* line 167, ../sass/style.scss */
#njRichtigeAntwortenCounter {
  margin-top: -38px;
  margin-left: 350px;
}

/* line 172, ../sass/style.scss */
#nsGameOverTextField {
  width: 700px;
  border: 5px solid #a1a1a1;
  padding: 10px 40px;
  background: #3f23d5;
  border-radius: 25px;
}

/* line 180, ../sass/style.scss */
#njPlayAgainBtn {
  margin-left: 250px;
  border: 2px solid #a1a1a1;
  padding: 10px 40px;
  background: #dddddd;
  width: 300px;
  border-radius: 25px;
  font-size: 18;
}

/* line 191, ../sass/style.scss */
#njPlayAgainBtn:hover {
  font-weight: bold;
  border-color: #000000;
}
